title: GetOpenApiResponse
type: object
properties:
  openapi:
    type: string
    examples: [3.0.1]
  info:
    type: object
    properties:
      title:
        type: string
        examples: [Your Magic Actor]
      version:
        type: string
        examples: ["1.0"]
      x-build-id:
        type: string
        examples: [ID of build]
  servers:
    type: array
    items:
      type: object
      properties:
        url:
          type: string
          examples: [https://api.apify.com/v2]
  paths:
    type: object
    properties:
      /acts/<username>~<actor>/run-sync-get-dataset-items:
        type: object
        properties:
          post:
            type: object
            properties:
              operationId:
                type: string
                examples: [run-sync-get-dataset-items]
              x-openai-isConsequential:
                type: boolean
                examples: [false]
              summary:
                type: string
                examples: [Executes an Actor, waits for its completion, and returns Actor's dataset items in response.]
              tags:
                type: array
                items:
                  type: string
                examples: [[Run Actor]]
              requestBody:
                type: object
                properties:
                  required:
                    type: boolean
                    examples: [true]
                  content:
                    type: object
                    properties:
                      application/json:
                        type: object
                        properties:
                          schema:
                            type: object
                            properties:
                              $ref:
                                type: string
                                examples: ["#/components/schemas/inputSchema"]
              parameters:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                      examples: [token]
                    in:
                      type: string
                      examples: [query]
                    required:
                      type: boolean
                      examples: [true]
                    schema:
                      type: object
                      properties:
                        type:
                          type: string
                          examples: [string]
                    description:
                      type: string
                      examples: [Enter your Apify token here]
              responses:
                type: object
                properties:
                  "200":
                    type: object
                    properties:
                      description:
                        type: string
                        examples: [OK]
      /acts/<username>~<actor>/runs:
        type: object
        properties:
          post:
            type: object
            properties:
              operationId:
                type: string
                examples: [runs]
              x-openai-isConsequential:
                type: boolean
                examples: [false]
              summary:
                type: string
                examples: [Executes an Actor and returns information about the initiated run in response.]
              tags:
                type: array
                items:
                  type: string
                examples: [[Run Actor]]
              requestBody:
                type: object
                properties:
                  required:
                    type: boolean
                    examples: [true]
                  content:
                    type: object
                    properties:
                      application/json:
                        type: object
                        properties:
                          schema:
                            type: object
                            properties:
                              $ref:
                                type: string
                                examples: ["#/components/schemas/inputSchema"]
              parameters:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    in:
                      type: string
                      examples: [query]
                    required:
                      type: boolean
                    schema:
                      type: object
                      properties:
                        type:
                          type: string
                    description:
                      type: string
              responses:
                type: object
                properties:
                  "200":
                    type: object
                    properties:
                      description:
                        type: string
                        examples: [OK]
                      content:
                        type: object
                        properties:
                          application/json:
                            type: object
                            properties:
                              schema:
                                type: object
                                properties:
                                  $ref:
                                    type: string
                                    examples: ["#/components/schemas/runsResponseSchema"]
      /acts/<username>~<actor>/run-sync:
        type: object
        properties:
          post:
            type: object
            properties:
              operationId:
                type: string
                examples: [run-sync]
              x-openai-isConsequential:
                type: boolean
                examples: [false]
              summary:
                type: string
                examples: [Executes an Actor, waits for completion, and returns the OUTPUT from Key-value store in response.]
              tags:
                type: array
                items:
                  type: string
                examples: [[Run Actor]]
              requestBody:
                type: object
                properties:
                  required:
                    type: boolean
                    examples: [true]
                  content:
                    type: object
                    properties:
                      application/json:
                        type: object
                        properties:
                          schema:
                            type: object
                            properties:
                              $ref:
                                type: string
                                examples: ["#/components/schemas/inputSchema"]
              parameters:
                type: array
                items:
                  type: object
                  properties:
                    name:
                      type: string
                    in:
                      type: string
                      examples: [query]
                    required:
                      type: boolean
                    schema:
                      type: object
                      properties:
                        type:
                          type: string
                    description:
                      type: string
              responses:
                type: object
                properties:
                  "200":
                    type: object
                    properties:
                      description:
                        type: string
                        examples: [OK]
  components:
    type: object
    properties:
      schemas:
        type: object
        properties:
          inputSchema:
            type: object
            properties:
              type:
                type: string
                examples: [object]
          runsResponseSchema:
            type: object
            properties:
              type:
                type: string
                examples: [object]
              properties:
                type: object
                properties:
                  data:
                    $ref: ./RunsResponseSchemaDataProperties.yaml
