.sdkSection {
    display: flex;
    gap: 24px;

    @media (max-width: 768px) { /* max-width: ${theme.layout.tablet} */
        flex-direction: column;
    }
}

.sdkSectionTitle {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 8px;
}

.sdkSectionDescription {
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.sdkSectionActionButtons {
    display: flex;
    align-items: center;
    gap: 16px;

    @media (max-width: 768px) { /* max-width: ${theme.layout.tablet} */
        flex-direction: column;
        align-items: flex-start;
    }
}

.sdkSectionCodeExamples {
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 50%;
}
