build
dist
build-docs
node_modules
*.log
*.pid
*.seed
.DS_Store
coverage
.nyc_output
pids
.idea
.vscode
yarn.lock
tmp
types
.history
.docusaurus
tsconfig.tsbuildinfo
.turbo
sources/api/*
!sources/api/sidebars.js
apify-api.yaml
