build
dist
build-docs
node_modules
*.log
*.pid
*.seed
.DS_Store
coverage
.nyc_output
pids
.idea
.vscode
tmp
types
.history
.docusaurus
tsconfig.tsbuildinfo
.turbo
sources/api/*
!sources/api/sidebars.js
!sources/api/getting-started.mdx
apify-api.yaml
static/api
**/package-lock.json
