/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBannerContent {
    margin: 0 auto;
    max-width: 327px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
    text-align: center;
}

@media (min-width: 768px) {
    .heroBannerContent {
        max-width: 738px;
        &.heroAlignLeft {
            align-items: flex-start;
            text-align: left;
        }
    }
    .heroBanner {
        margin-bottom: 0;
    }
}

@media (min-width: 1024px) {
    .heroBannerContent {
        max-width: 896px;
    }
}

@media (min-width: 1440px) {
    .heroBannerContent {
        max-width: 1200px;
    }
}

.heroBanner {
    padding-top: 80px;
    padding-bottom: 56px;
    margin-bottom: 24px;
}

.heroBanner .heroDescription {
    color: var(--color-neutral-text-muted);
}

html .heroBanner p {
    color: var(--color-Neutral_TextMuted);
    margin-top: 8px;
    margin-bottom: 24px;
}

html[data-theme='dark'] .heroBanner p {
    color: #b3b8d2;
}

.heroBanner code {
    background: #272c3d;
    padding: 10px 20px;
}

.heroBanner button {
    opacity: 0.4;
    padding: 5px 8px;
    margin-top: -2px;
}

.heroBanner button span {
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 0;
}

.heroBanner code span {
    color: #f2f3fb;
}

@media only screen and (max-device-width: 736px) {
    .heroBanner {
        padding-top: 20px;
        padding-bottom: 2rem;
    }
}

@media only screen and (max-device-width: 450px) {
    .heroBanner button {
        opacity: 0;
    }
}

@media only screen and (max-device-width: 350px) {
    .codeBlock code {
        font-size: 0.7em;
    }
}

.heroBanner .heroPromotionLink {
    border-radius: 1000px;
    border: 1px solid var(--color-Neutral_SeparatorSubtle);
    background: var(--color-Neutral_Background);
    display: flex;
    padding: 0.8rem 1.2rem;
    align-items: center;
    gap: 0.8rem;
    margin-bottom: 0.8rem;

    @media (max-width: 767px) {
        padding: 0.8rem 1.6rem;
        flex-direction: column;
    }

    &:hover {
        background: var(--color-Neutral_Hover);

        .heroPromotionArrow {
            transform: translateX(4px);
        }
    }
}

.heroBanner .heroPromotionContent {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.heroBanner .heroPromotionBadge {
    border-radius: 1.2rem;
    background: var(--color-primary-chip-background);
    color: var(--color-primary-chip-text);
    display: flex;
    padding: 0.2rem 0.8rem;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.heroBanner .heroPromotionLabel {
    color: var(--color-neutral-text);
}

.heroBanner .heroPromotionLabelDesktop {
    display: inline;
}

.heroBanner .heroPromotionLabelMobile {
    display: none;
}

@media (max-width: 767px) {
    .heroBanner .heroPromotionLabelDesktop {
        display: none;
    }
    .heroBanner .heroPromotionLabelMobile {
        display: inline;
    }
}

.heroBanner .heroPromotionArrow {
    color: var(--color-neutral-icon);
    transition: transform 0.2s;
}
