/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBannerContent {
    margin: 0 auto;
    max-width: 327px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    text-align: center;
}

@media (min-width: 768px) {
    .heroBannerContent { max-width: 738px; align-items: flex-start; text-align: left; }
    .heroBannerContent.heroBannerContentCentered { max-width: 738px; align-items: center; }
    .heroBanner { margin-bottom: 0; }
}

@media (min-width: 1024px) {
    .heroBannerContent { max-width: 896px; }
}

@media (min-width: 1440px) {
    .heroBannerContent { max-width: 1200px; }
}

.heroBanner {
    padding-top: 80px;
    padding-bottom: 56px;
    background-image: url('/src/pages/img/hero-background-gradient.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 32px;
}

.heroBanner::after {
    content: "";
    position: absolute;
    left: 0;
    height: 56px;
    width: 100%;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    transform: matrix(1, 0, 0, -1, 0, 0);
    pointer-events: none;
}

html[data-theme='dark'] .heroBanner::after {
    background: linear-gradient(180deg, #1A1B21 0%, rgba(26, 27, 33, 0) 100%);
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.heroBanner .heroDescription {
   color: var(--color-neutral-text-muted);
}

html .heroBanner p {
    color: var(--color-Neutral_TextMuted);
    margin-top: 8px;
    margin-bottom: 24px;
}

html[data-theme='dark'] .heroBanner p {
    color: #b3b8d2;
}

.heroBanner code {
    background: #272c3d;
    padding: 10px 20px;
}

.heroBanner button {
    opacity: 0.4;
    padding: 5px 8px;
    margin-top: -2px;
}

.heroBanner button span {
    width: 16px;
    height: 16px;
    padding: 0;
    margin: 0;
}

.heroBanner code span {
    color: #f2f3fb;
}

@media only screen and (max-device-width: 736px) {
    .heroBanner {
        padding-top: 20px;
        padding-bottom: 2rem;
    }
}

@media only screen and (max-device-width: 450px) {
    .heroBanner button {
        opacity: 0;
    }
}

@media only screen and (max-device-width: 350px) {
    .codeBlock code {
        font-size: 0.7em;
    }
}
