FORMAT: 1A
HOST: https://api.apify.com/

# Apify API

The Apify API (version 2) provides programmatic access to the [Apify platform](https://docs.apify.com).
The API is organized around [RESTful](https://en.wikipedia.org/wiki/Representational_state_transfer)
HTTP endpoints.
All requests and responses (including errors) are encoded in [JSON](http://www.json.org/) format with UTF-8 encoding,
with a few exceptions that are explicitly described in the reference.

To access the API using [Node.js](https://nodejs.org/en/), we recommend the
[`apify-client`](https://docs.apify.com/api/apify-client-js/latest) [NPM package](https://www.npmjs.com/package/apify-client).
The client's functions correspond to the API endpoints and have the same parameters. This simplifies development of apps that depend on the Apify platform.

**Note:** All requests with JSON payloads need to specify the `Content-Type: application/json` HTTP header!

All API endpoints support the `method` query parameter that can override the HTTP method.
For example, if you want to call a POST endpoint using a GET request, simply
add the query parameter `method=POST` to the URL and send the GET request.
This feature is especially useful if you want to call Apify API endpoints
from services that can only send GET requests.

## Authentication

Most API requests need to be authenticated by passing a secret API token
to the request URL as the `token` query parameter.
The API token can be found on the
[Integrations](https://my.apify.com/account#/integrations) page in the Apify app.

**IMPORTANT**: Do not share the API token with untrusted parties, or use it directly from a client-side code,
unless you fully understand the consequences!**

Note that some API endpoints, such as [Get list of keys](#reference/key-value-stores/key-collection/get-list-of-keys),
do not require any authentication token, because they contain a hard-to-guess identifier that effectively serves as an authentication key.

## Basic usage

To run an actor, send a POST request to the [Run actor](#reference/actors/run-collection/run-actor) endpoint using either the actor ID code (e.g. `vKg4IjxZbEYTYeW8T`) or its name (e.g. `janedoe~my-actor`):

`https://api.apify.com/v2/acts/[actor_id]/runs`

If the actor is not runnable anonymously, you will receive a 401 or 403
[response code](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status).
This means you need to append your [secret API token](https://my.apify.com/account#/integrations) as a query parameter `?token=[your_token]`.

Optionally, you can include the query parameters described in the [Run actor](#reference/actors/run-collection/run-actor) section to customize your run.

If you're using Node.js, the best way to run an actor is using the `Apify.call()` method from the [Apify SDK](https://sdk.apify.com/docs/api/apify#apifycallactid-input-options). It runs the actor using the account you are currently logged into (determined by the [secret API token](https://my.apify.com/account#/integrations)). The result is an [actor run object](https://sdk.apify.com/docs/typedefs/actor-run) and its output (if any).

A typical workflow is as follows:

1. Run an actor or task using the [Run actor](#reference/actors/run-collection/run-actor) or [Run task](#reference/actor-tasks/run-collection/run-task) API endpoints.

2. Monitor the actor run by periodically polling its progress using the [Get run](#reference/actors/run-object/get-run) API endpoint.

3. Fetch the results from the [Get items](#reference/datasets/item-collection/get-items) API endpoint using the `defaultDatasetId`, which you receive in the Run request response. Additional data may be stored in a key-value store. You can fetch them from the [Get record](#reference/key-value-stores/record/get-record) API endpoint using the `defaultKeyValueStoreId` and the store's `key`.

**Note**: Instead of periodic polling, you can also run your [actor](#reference/actors/run-actor-synchronously) or [task](#reference/actor-tasks/runs-collection/run-task-synchronously) synchronously. This will ensure that the request waits for 300 seconds (5 minutes) for the run to finish and returns its output. If the run takes longer, the request will time out and throw an error.

## Response structure

Most API endpoints return a JSON object with the `data` property:

```
{
    "data": {
        ...
    }
}
```

However, there are a few explicitly described exceptions, such as
Dataset [Get items](#reference/datasets/item-collection/get-items) or
Key-value store [Get record](#reference/key-value-stores/record/get-record) API endpoints,
which return data in other formats.

In case of an error, the response has the HTTP status code in the range of 4xx or 5xx
and the `data` property is replaced with `error`. For example:

```
{
    "error": {
        "type": "record-not-found",
        "message": "Store was not found."
    }
}
```

See [Errors](#introduction/errors) for more details.

## Pagination

All API endpoints that return a list of records
(e.g. [Get list of actors](#reference/actors/actor-collection/get-list-of-actors))
enforce pagination in order to limit the size of their responses.

Most of these API endpoints are paginated using the `offset` and `limit` query parameters.
The only exception is [Get list of keys](#reference/key-value-stores/key-collection/get-list-of-keys),
which is paginated using the `exclusiveStartKey` query parameter.

**IMPORTANT**: Each API endpoint that supports pagination enforces a certain maximum value for the `limit` parameter,
in order to reduce the load on Apify servers.
The maximum limit could change in future so you should never
rely on a specific value and check the responses of these API endpoints.


### Using offset

Most API endpoints that return a list of records enable pagination using the following query parameters:

<table>
  <tr>
    <td><code>limit</code></td>
    <td>Limits the response to contain a specific maximum number of items, e.g. <code>limit=20</code>.</td>
  </tr>
  <tr>
    <td><code>offset</code></td>
    <td>Skips a number of items from the beginning of the list, e.g. <code>offset=100</code>.</td>
  </tr>
  <tr>
    <td><code>desc</code></td>
    <td>By default, items are sorted in the order in which they were created or added to the list.
    This feature is useful when fetching all the items, because it ensures that items
    created after the client started the pagination will not be skipped.
    If you specify the <code>desc=1</code> parameter, the items will be returned in the reverse order,
    i.e. from the newest to the oldest items.
    </td>
  </tr>
</table>

The response of these API endpoints is always a JSON object with the following structure:

```
{
    "data": {
        "total": 2560,
        "offset": 250,
        "limit": 1000,
        "count": 1000,
        "desc": false,
        "items": [
            { 1st object },
            { 2nd object },
            ...
            { 1000th object }
        ]
    }
}
```

The following table describes the meaning of the response properties:

<table>
  <tr>
    <th>Property</th>
    <th>Description</th>
  </tr>
  <tr>
    <td><code>total</code></td>
    <td>The total number of items available in the list.</td>
  </tr>
  <tr>
    <td><code>offset</code></td>
    <td>The number of items that were skipped at the start.
    This is equal to the <code>offset</code> query parameter if it was provided, otherwise it is <code>0</code>.</td>
  </tr>
  <tr>
    <td><code>limit</code></td>
    <td>The maximum number of items that can be returned in the HTTP response.
    It equals to the <code>limit</code> query parameter if it was provided or
    the maximum limit enforced for the particular API endpoint, whichever is smaller.</td>
  </tr>
  <tr>
    <td><code>count</code></td>
    <td>The actual number of items returned in the HTTP response.</td>
  </tr>
  <tr>
    <td><code>desc</code></td>
    <td><code>true</code> if data were requested in descending order and <code>false</code> otherwise.</td>
  </tr>
  <tr>
    <td><code>items</code></td>
    <td>An array of requested items.</td>
  </tr>
</table>

### Using key

The records in the [key-value store](https://docs.apify.com/storage/key-value-store)
are not ordered based on numerical indexes,
but rather by their keys in the UTF-8 binary order.
Therefore the [Get list of keys](#reference/key-value-stores/key-collection/get-list-of-keys)
API endpoint only supports pagination using the following query parameters:

<table>
  <tr>
    <td><code>limit</code></td>
    <td>Limits the response to contain a specific maximum number items, e.g. <code>limit=20</code>.</td>
  </tr>
  <tr>
    <td><code>exclusiveStartKey</code></td>
    <td>Skips all records with keys up to the given key including the given key,
    in the UTF-8 binary order.</td>
  </tr>
</table>

The response of the API endpoint is always a JSON object with following structure:

```
{
    "data": {
        "limit": 1000,
        "isTruncated": true,
        "exclusiveStartKey": "my-key",
        "nextExclusiveStartKey": "some-other-key",
        "items": [
            { 1st object },
            { 2nd object },
            ...
            { 1000th object }
        ]
    }
}
```

The following table describes the meaning of the response properties:

<table>
  <tr>
    <th>Property</th>
    <th>Description</th>
  </tr>
  <tr>
    <td><code>limit</code></td>
    <td>The maximum number of items that can be returned in the HTTP response.
    It equals to the <code>limit</code> query parameter if it was provided or
    the maximum limit enforced for the particular endpoint, whichever is smaller.</td>
  </tr>
  <tr>
    <td><code>isTruncated</code></td>
    <td><code>true</code> if there are more items left to be queried. Otherwise <code>false</code>.</td>
  </tr>
  <tr>
    <td><code>exclusiveStartKey</code></td>
    <td>The last key that was skipped at the start. Is `null` for the first page.</td>
  </tr>
  <tr>
    <td><code>nextExclusiveStartKey</code></td>
    <td>The value for the <code>exclusiveStartKey</code> parameter to query the next page of items.</td>
  </tr>
</table>

## Errors

The Apify API uses common HTTP status codes: `2xx` range for success, `4xx` range for errors caused by the caller
(invalid requests) and `5xx` range for server errors (these are rare).
Each error response contains a JSON object defining the `error` property, which is an object with
the `type` and `message` properties that contain the error code and a human-readable error description, respectively.
For example:

```
{
    "error": {
        "type": "record-not-found",
        "message": "Store was not found."
    }
}
```

Here is the table of the most common errors that can occur for many API endpoints:

<table>
  <tr>
    <th>status</th>
    <th>type</th>
    <th>message</th>
  </tr>
  <tr>
    <td><code>400</code></td>
    <td><code>invalid-request</code></td>
    <td>POST data must be a JSON object</td>
  </tr>
  <tr>
    <td><code>400</code></td>
    <td><code>invalid-value</code></td>
    <td>Invalid value provided: Comments required</td>
  </tr>
  <tr>
    <td><code>400</code></td>
    <td><code>invalid-record-key</code></td>
    <td>Record key contains invalid character</td>
  </tr>
  <tr>
    <td><code>401</code></td>
    <td><code>token-not-provided</code></td>
    <td>Authentication token was not provided</td>
  </tr>
  <tr>
    <td><code>404</code></td>
    <td><code>record-not-found</code></td>
    <td>Store was not found</td>
  </tr>
  <tr>
    <td><code>429</code></td>
    <td><code>rate-limit-exceeded</code></td>
    <td>You have exceeded the rate limit of 30 requests per second</td>
  </tr>
  <tr>
    <td><code>405</code></td>
    <td><code>method-not-allowed</code></td>
    <td>This API endpoint can only be accessed using the following HTTP methods: OPTIONS, POST</td>
  </tr>
</table>

## Rate limiting

All API endpoints limit the rate of requests in order to prevent overloading of Apify servers by misbehaving clients.
The default rate limit is 30 requests per second and is applied to every API endpoint except the following list
of endpoints that are rate limited to 200 requests per second:

* [Run actor](#reference/actors/run-collection/run-actor)
* [Run actor task asynchronously](#reference/actor-tasks/runs-collection/run-task-asynchronously)
* [Run actor task synchronously](#reference/actor-tasks/runs-collection/run-task-synchronously)
* [Metamorph actor run](#reference/actors/metamorph-run/metamorph-run)
* [Push items](#reference/datasets/item-collection/put-items) to dataset
* CRUD
  ([add](#reference/request-queues/request-collection/add-request),
  [get](#reference/request-queues/request-collection/get-request),
  [update](#reference/request-queues/request-collection/update-request),
  [delete](#reference/request-queues/request-collection/delete-request))
  operations of request queue requests

> For authenticated API endpoints (if you use an [authentication token](#authentication)), the limit is counted per user.
Storage API endpoints (when a token isn't used) count the limit per storage object.
Anonymous API endpoints count the limit per client IP adress.

If the client is sending too many requests, the API endpoints respond with the HTTP status code `429 Too Many Requests`
and the following body:

```
{
    "error": {
        "type": "rate-limit-exceeded",
        "message": "You have exceeded the rate limit of ... requests per second"
    }
}
```

If the client receives the rate limit error, it should wait a certain period of time and then retry the request.
If the error happens again, the client should double the wait period and retry the request,
and so on. This algorithm is known as _exponential backoff_
and it can be described using the following pseudo-code:

1. Define a variable `DELAY=500`
2. Send the HTTP request to the API endpoint
3. If the response has status code not equal to `429` then you are done. Otherwise:
   * Wait for a period of time chosen randomly from the interval `DELAY` to `2*DELAY` milliseconds
   * Double the future wait period by setting `DELAY = 2*DELAY`
   * Continue with step 2

If all requests sent by the client implement the above steps,
the client will automatically use the maximum available bandwidth for its requests.

Note that the <a href="https://docs.apify.com/api/apify-client-js/latest">apify-client</a> NPM package
uses the exponential backoff algorithm transparently, so that you do not need to worry about it.


# Group Actors

The API endpoints described in this section enable you to manage, build and run Apify actors.
For more information, see the <a href="https://docs.apify.com/actor">Actor documentation</a>.

Note that for all the API endpoints that accept the `actorId` parameter to specify an actor,
you can pass either the actor ID (e.g. `HG7ML7M8z78YcAPEB`) or a tilde-separated
username of the actor owner and the actor name (e.g. `janedoe~my-actor`).

## Actor collection [/v2/acts{?token,offset,limit,desc,my}]

+ Parameters

    + token: `rWLaYmvZeK55uatRrZib4xbZs` (string, required) - API authentication token.


### Get list of actors [GET]

Gets the list of all actors that the user created or used. The response is a list of objects, where each object
contains a basic information about a single actor.
To only get actors created by the user, add the `my=1` query parameter.

The endpoint supports pagination using the `limit` and `offset` parameters and it will not return more than 1000 records.

By default, the records are sorted by the `createdAt` field in ascending order,
therefore you can use pagination to incrementally fetch all actors while new
ones are still being created. To sort the records in descending order, use the `desc=1`
parameter.

+ Parameters

    + my: true (boolean, optional) - If `true` or `1` then the returned list only contains actors owned by the user. The default value is `false`.
    + offset: 10 (number, optional) - Number of records that should be skipped at the start. The default value is `0`.
    + limit: 99 (number, optional) - Maximum number of records to return. The default value as well as the maximum is `1000`.
    + desc: true (boolean, optional) - If `true` or `1` then the objects are sorted by the `createdAt` field in descending order. By default, they are sorted in ascending order.

+ Response 200 (application/json)

    + Attributes
        - data (object, required)
            - total: 2 (number, required)
            - count: 2 (number, required)
            - offset: 0 (number, required)
            - limit: 1000 (number, required)
            - desc: false (boolean, required)
            - items (array[ActorShort1,ActorShort2], required)

### Create actor [POST]

Creates a new actor with settings specified in an Actor object passed as JSON in the POST payload.
The response is the full actor object as returned by the
[Get actor](#reference/actors/actor-object/get-actor) endpoint.

The HTTP request must have the `Content-Type: application/json` HTTP header!

The actor needs to define at least one version of the source code.
For more information, see [Version object](#reference/actors/version-object).


+ Request (application/json)

    + Attributes(ActCreate)

+ Response 201 (application/json)

    + Headers

            Location: https://api.apify.com/v2/acts/zdc3Pyhyz3m8vjDeM

    + Attributes
        - data (Actor, required)

## Actor object [/v2/acts/{actorId}{?token}]

+ Parameters

    + actorId: `janedoe~my-actor` (string, required) - Actor ID or a tilde-separated owner's username and actor name.
    + token: `rWLaYmvZeK55uatRrZib4xbZs` (string, required) - API authentication token.

### Get actor [GET]

Gets an object that contains all the details about a specific actor.

+ Response 200 (application/json)

    + Attributes
        - data (Actor, required)

### Update actor [PUT]

Updates settings of an actor using values specified by an actor object passed as JSON in the POST payload.
If the object does not define a specific property, its value will not be updated.

The response is the full actor object as returned by the
[Get actor](#reference/actors/actor-object/get-actor) endpoint.

The request needs to specify the `Content-Type: application/json` HTTP header!

+ Request (application/json)

    + Attributes(ActUpdate)

+ Response 200 (application/json)

    + Attributes
        - data (Actor, required)

### Delete actor [DELETE]

Deletes an actor.

+ Response 204 (application/json)

    + Attributes(object)

## Version collection [/v2/acts/{actorId}/versions{?token}]

+ Parameters

    + actorId: `janedoe~my-actor` (string, required) - Actor ID or a tilde-separated owner's username and actor name.
    + token: `rWLaYmvZeK55uatRrZib4xbZs` (string, required) - API authentication token.

### Get list of versions [GET]

Gets the list of versions of a specific actor. The response is a JSON object with the list
of [Version objects](#reference/actors/version-object), where each
contains basic information about a single version.

+ Response 200 (application/json)

    + Attributes
        - data (object, required)
            - total: 5 (number, required)
            - items (ListOfVersions, required)

### Create version [POST]

Creates a version of an actor using values specified in a [Version object](#reference/actors/version-object) passed as JSON in the POST payload.

The request must specify `versionNumber` and `sourceType` parameters (as strings) in the JSON payload and a `Content-Type: application/json` HTTP header.

Each `sourceType` requires its own additional properties to be passed to the JSON payload object. These are outlined in the [Version object](#reference/actors/version-object) table below and in more detail in the [Apify documentation](https://docs.apify.com/actors/development/source-code).

For example, if an actor's source code is stored in a [GitHub repository](https://docs.apify.com/actors/development/source-code#git-repository), you will set the `sourceType` to `GIT_REPO` and pass the repository's URL in the `gitRepoUrl` property.

```
{
    "versionNumber": "0.1",
    "sourceType": "GIT_REPO",
    "gitRepoUrl": "https://github.com/my-github-account/actor-repo"
}
```

The response is the [Version object](#reference/actors/version-object) as returned by the
[Get version](#reference/actors/version-object/get-version) endpoint.

+ Attributes(VersionUpdate)

+ Request

        {
            "versionNumber": "0.1",
            "sourceType": "GIT_REPO",
            "gitRepoUrl": "https://github.com/my-github-account/actor-repo"
        }

+ Response 201 (application/json)

    + Headers

            Location: https://api.apify.com/v2/acts/zdc3Pyhyz3m8vjDeM/versions/0.0

    + Attributes
        - data (Version, required)

## Version object [/v2/acts/{actorId}/versions/{versionNumber}{?token}]

The **Version object** contains the source code of a specific version of an actor.
The `sourceType` property indicates where the source code is hosted, and based
on its value the Version object has the following additional property:

<table>
  <tr>
    <td><code>"SOURCE_CODE"</code></td>
    <td>
        Source code is a single JavaScript/Node.js file whose content is in the <code>sourceCode</code> field,
        and uses a base Docker image specified in <code>baseDockerImage</code>.
    </td>
  </tr>
  <tr>
    <td><code>"SOURCE_FILES"</code></td>
    <td>
        Source code is comprised of multiple files specified in the <code>sourceFiles</code> array.
        Each item of the array is an object with the following fields:<br>
        <code>name</code></li> - File path and name<br>
        <code>format</code></li> - Format of the content, can be either <code>"TEXT"</code> or <code>"BASE64"</code><br>
        <code>content</code></li> - File content
    </td>
  </tr>
  <tr>
    <td><code>"GIT_REPO"</code></td>
    <td>
        Source code is cloned from a Git repository, whose URL is specified in the <code>gitRepoUrl</code> field.
    </td>
  </tr>
  <tr>
      <td><code>"TARBALL"</code></td>
      <td>
        Source code is downloaded using a tarball or Zip file from a URL specified in the <code>tarballUrl</code> field.
      </td>
  </tr>
  <tr>
      <td><code>"GITHUB_GIST"</code></td>
      <td>
        Source code is taken from a GitHub Gist, whose URL is specified in the <code>gitHubGistUrl</code> field.
      </td>
  </tr>
</table>

For more information about source code and actor versions, see [Source code](https://docs.apify.com/actor/source-code) in Actors documentation.


+ Parameters

    + actorId: `janedoe~my-actor` (string, required) - Actor ID or a tilde-separated owner's username and actor name.
    + versionNumber: `1.0` (string, required) - Actor major and minor version of the actor.
    + token: `rWLaYmvZeK55uatRrZib4xbZs` (string, required) - API authentication token.

### Get version [GET]

Gets a [Version object](#reference/actors/version-object) that contains all the details about a specific version of an actor.

+ Response 200 (application/json)

    + Attributes
        - data (Version, required)

### Update version [PUT]

Updates actor version using values specified by a [Version object](#reference/actors/version-object)
passed as JSON in the POST payload.
If the object does not define a specific property, its value will not be updated.

The request needs to specify the `Content-Type: application/json` HTTP header!

The response is the [Version object](#reference/actors/version-object) as returned by the
[Get version](#reference/actors/version-object/get-version) endpoint.

+ Request (application/json)

    + Attributes(VersionUpdate)

+ Response 200 (application/json)

    + Attributes
        - data (Version, required)

### Delete version [DELETE]

Deletes a specific version of actor's source code.

+ Response 204 (application/json)

    + Attributes(object)

## Webhook collection [/v2/acts/{actorId}/webhooks{?token,offset,limit,desc}]

+ Parameters

    + actorId: `janedoe~my-actor` (string, required) - Actor ID or a tilde-separated owner's username and actor name.
    + token: `rWLaYmvZeK55uatRrZib4xbZs` (string, required) - API authentication token.

### Get list of webhooks [GET]

Gets the list of webhooks of a specific actor. The response is a JSON with the list of objects, where each object
contains basic information about a single webhook.

The endpoint supports pagination using the `limit` and `offset` parameters and it will not return more than 1000 records.

By default, the records are sorted by the `createdAt` field in ascending order,
to sort the records in descending order, use the `desc=1` parameter.

+ Parameters

    + token: `rWLaYmvZeK55uatRrZib4xbZs` (string, required) - API authentication token.
    + offset: 10 (number, optional) - Number of array elements that should be skipped at the start. The default value is `0`.
    + limit: 99 (number, optional) - Maximum number of array elements to return. The default value as well as the maximum is `1000`.
    + desc: true (boolean, optional) - If `true` or `1` then the objects are sorted by the `createdAt` field in descending order. By default, they are sorted in ascending order.

+ Response 200 (application/json)

    + Attributes
        - data (object, required)
            - total: 2 (number, required)
            - offset: 0 (number, required)
            - limit: 1000 (number, required)
            - desc: false (boolean, required)
            - count: 2 (number, required)
            - items (array[Webhook,Webhook], required)

## Build collection [/v2/acts/{actorId}/builds{?token,offset,limit,desc,waitForFinish,version,useCache,betaPackages,tag}]

+ Parameters

    + actorId: `janedoe~my-actor` (string, required) - Actor ID or a tilde-separated owner's username and actor name.
    + token: `rWLaYmvZeK55uatRrZib4xbZs` (string, required) - API authentication token.

### Get list of builds [GET]

Gets the list of builds of a specific actor. The response is a JSON with the list of objects, where each object
contains basic information about a single build.

The endpoint supports pagination using the `limit` and `offset` parameters and it will not return more than 1000 records.

By default, the records are sorted by the `startedAt` field in ascending order,
therefore you can use pagination to incrementally fetch all builds while new
ones are still being started. To sort the records in descending order, use the `desc=1`
parameter.

+ Parameters

    + offset: 10 (number, optional) - Number of records that should be skipped at the start. The default value is `0`.
    + limit: 99 (number, optional) - Maximum number of records to return. The default value as well as the maximum is `1000`.
    + desc: true (boolean, optional) - If `true` or `1` then the objects are sorted by the `startedAt` field in descending order. By default, they are sorted in ascending order.

+ Response 200 (application/json)

    + Attributes
        - data (object, required)
            - total: 2 (number, required)
            - offset: 0 (number, required)
            - limit: 1000 (number, required)
            - desc: false (boolean, required)
            - count: 2 (number, required)
            - items (array[BuildShort1,BuildShort2], required)

### Build actor [POST]

Builds an actor.
The response is the build object as returned by the
[Get build](#reference/actors/build-object/get-build) endpoint.

+ Parameters

    + version: `0.0` (string, required) - Actor version number to be built.
    + useCache: true (boolean, optional) - If `true` or `1`, the system will use a cache to speed up the build process. By default, cache is not used.
    + betaPackages: true (boolean, optional) - If `true` or `1` then the actor is built with beta versions of Apify NPM packages. By default, the build uses `latest` packages.
    + tag: `latest` (string, optional) - Tag to be applied to the build on success. By default, the tag is taken from actor version's `buildTag` property.
    + waitForFinish: 60 (number, optional) -  The maximum number of seconds the server waits for the build to finish. By default it is `0`, the maximum value is `300`. <!-- MAX_ACTOR_JOB_SYNC_WAIT_SECS -->
                                              If the build finishes in time then the returned build object will have a terminal status (e.g. `SUCCEEDED`),
                                              otherwise it will have a transitional status (e.g. `RUNNING`).

+ Response 201 (application/json)

    + Headers

            Location: https://api.apify.com/v2/acts/zdc3Pyhyz3m8vjDeM/runs/HG7ML7M8z78YcAPEB

    + Attributes
        - data (Build, required)

## Build object [/v2/acts/{actorId}/builds/{buildId}{?token,waitForFinish}]

+ Parameters

    + actorId: `janedoe~my-actor` (string, required) - Actor ID or a tilde-separated owner's username and actor name.

### Get build [GET]

Gets an object that contains all the details about a specific build of an actor.

By passing the optional `waitForFinish=1` parameter the API endpoint will synchronously wait for the build to finish.
This is useful to avoid periodic polling when waiting for an actor build to finish.

+ Parameters

    + buildId: `rWLaYmvZeK55uatRrZib4xbZs` (string, required) - ID of the build you want to get, found in the build's `Info` tab.
    + waitForFinish: 60 (number, optional) - The maximum number of seconds the server waits for the build to finish. By default it is `0`, the maximum value is `300`. <!-- MAX_ACTOR_JOB_SYNC_WAIT_SECS -->
                                             If the build finishes in time then the returned build object will have a terminal status (e.g. `SUCCEEDED`),
                                             otherwise it will have a transitional status (e.g. `RUNNING`).
    + token: `rWLaYmvZeK55uatRrZib4xbZs` (string, optional) - API authentication token. It is only required for private actors.
        Builds of public actors can be queried without any token.

+ Response 200 (application/json)

    + Attributes
        - data (Build, required)


## Abort build [/v2/acts/{actorId}/builds/{buildId}/abort{?token}]

### Abort build [POST]

Aborts an actor build and returns an object that contains all the details about the build.
Only builds that are starting or running are aborted. For builds with status `FINISHED`, `FAILED`, `ABORTING` and `TIMED-OUT` this call does nothing.

+ Parameters

    + actorId: `janedoe~my-actor` (string, required) - Actor ID or a tilde-separated owner's username and actor name.
    + buildId: `3KH8gEpp4d8uQSe8T` (string, required) - Build ID.
    + token: `rWLaYmvZeK55uatRrZib4xbZs` (string, required) - API authentication token.

+ Response 200 (application/json)

    + Attributes
        - data (BuildAborted, required)

## Run collection [/v2/acts/{actorId}/runs{?token,offset,limit,desc,waitForFinish,timeout,memory,build,webhooks,status}]

+ Parameters

    + actorId: `janedoe~my-actor` (string, required) - Actor ID or a tilde-separated owner's username and actor name.

### Get list of runs [GET]

Gets the list of runs of a specific actor. The response is a list of objects, where each object
contains basic information about a single actor run.

The endpoint supports pagination using the `limit` and `offset` parameters and it will not return more than 1000
array elements.

By default, the records are sorted by the `startedAt` field in ascending order,
therefore you can use pagination to incrementally fetch all records while new
ones are still being created. To sort the records in descending order, use `desc=1`
parameter. You can also filter runs by status ([available statuses](https://docs.apify.com/actors/running#lifecycle)).

+ Parameters

    + token: `rWLaYmvZeK55uatRrZib4xbZs` (string, required) - API authentication token.
    + offset: 10 (number, optional) - Number of array elements that should be skipped at the start. The default value is `0`.
    + limit: 99 (number, optional) - Maximum number of array elements to return. The default value as well as the maximum is `1000`.
    + desc: true (boolean, optional) - If `true` or `1` then the objects are sorted by the `startedAt` field in descending order. By default, they are sorted in ascending order.
    + status: SUCCEEDED (string, optional) - Return only runs with the provided status ([available statuses](https://docs.apify.com/actors/running#lifecycle))

+ Response 200 (application/json)

    + Attributes
        - data (object, required)
            - total: 2 (number, required)
            - offset: 0 (number, required)
            - limit: 1000 (number, required)
            - desc: false (boolean, required)
            - count: 2 (number, required)
            - items (array[RunShort1,RunShort2], required)

### Run actor [POST]

Runs an actor and immediately returns without waiting for the run to finish.

The POST payload including its `Content-Type` header is passed as `INPUT` to the actor (usually `application/json`).
The actor is started with the default options; you can override them using various URL query parameters.

The response is the Run object as returned by the [Get run](#reference/actors/run-object/get-run) API endpoint.
If you want to wait for the run to finish and receive the actual output of the actor as the response,
please use one of the [Run actor synchronously](#reference/actors/run-actor-synchronously) API endpoints instead.

To fetch the actor run results that are typically stored in the default dataset,
you'll need to pass the ID received in the `defaultDatasetId` field
received in the response JSON to the [Get items](#reference/datasets/item-collection/get-items) API endpoint.

+ Parameters

    + token: `rWLaYmvZeK55uatRrZib4xbZs` (string, optional) - API authentication token. Public actors that are configured to be anonymously runnable do not require the token.
    + timeout: 60 (number, optional) - Optional timeout for the run, in seconds. By default, the run uses a timeout specified in the default run configuration for the actor.
    + memory: 256 (number, optional) - Memory limit for the run, in megabytes. By default, the run uses a memory limit specified in the default run configuration for the actor.
    + build: `0.1.234` (string, optional) - Specifies the actor build to run. It can be either a build tag or build number. By default, the run uses the build specified in the default run configuration for the actor (typically `latest`).
    + waitForFinish: 60 (number, optional) - The maximum number of seconds the server waits for the run to finish. By default, it is `0`, the maximum value is `300`. <!-- MAX_ACTOR_JOB_SYNC_WAIT_SECS -->
                                             If the build finishes in time then the returned run object will have a terminal status (e.g. `SUCCEEDED`),
                                             otherwise it will have a transitional status (e.g. `RUNNING`).
    + webhooks: `dGhpcyBpcyBqdXN0IGV4YW1wbGUK...` (string, optional) - Specifies optional webhooks associated with the actor run, which can be used to receive a notification
      e.g. when the actor finished or failed. The value is a Base64-encoded JSON array of objects defining the webhooks. For more information, see
      [Webhooks documenation](https://docs.apify.com/webhooks).

+ Request

    + Headers

            Content-Type: application/json

    + Attributes
        - foo: `bar`

+ Response 201 (application/json)

    + Headers

            Location: https://api.apify.com/v2/acts/zdc3Pyhyz3m8vjDeM/runs/HG7ML7M8z78YcAPEB

    + Attributes
        - data (Run, required)

## Run actor synchronously [/v2/acts/{actorId}/run-sync{?token,outputRecordKey,timeout,memory,build,webhooks}]

+ Parameters

    + actorId: `janedoe~my-actor` (string, required) - Actor ID or a tilde-separated owner's username and actor name.
    + token: `rWLaYmvZeK55uatRrZib4xbZs` (string, optional) - API authentication token. Public actors that are configured to be anonymously runnable do not require token parameter.
    + outputRecordKey: `OUTPUT` (string, optional) - Key of the record from run's default key-value store to be returned
                                                     in the response. By default, it is `OUTPUT`.
    + timeout: 60 (number, optional) - Optional timeout for the run, in seconds. By default, the run uses a timeout specified in the default run configuration for the actor.
    + memory: 256 (number, optional) - Memory limit for the run, in megabytes. By default, the run uses a memory limit specified in the default run configuration for the actor.
    + build: `0.1.234` (string, optional) - Specifies the actor build to run. It can be either a build tag or build number. By default, the run uses the build specified in the default run configuration for the actor (typically `latest`).
    + webhooks: `dGhpcyBpcyBqdXN0IGV4YW1wbGUK...` (string, optional) - Specifies optional webhooks associated with the actor run, which can be used to receive a notification
      e.g. when the actor finished or failed. The value is a Base64-encoded JSON array of objects defining the webhooks. For more information, see
      [Webhooks documenation](https://docs.apify.com/webhooks).

### With input [POST]

Runs a specific actor and returns its output.

The POST payload including its `Content-Type` header is passed as `INPUT` to the actor (usually <code>application/json</code>).
The HTTP response contains actor's `OUTPUT` record from its default key-value store.

The actor is started with the default options; you can override them using various URL query parameters.
If the actor run exceeds 300<!-- MAX_ACTOR_JOB_SYNC_WAIT_SECS --> seconds,
the HTTP response will have status 408 (Request Timeout).

Beware that it might be impossible to maintain an idle HTTP connection for a long period of time,
due to client timeout or network conditions. Make sure your HTTP client is configured to have a long enough connection timeout.
If the connection breaks, you will not receive any information about the run and its status.

To run the actor asynchronously, use the [Run actor](#reference/actors/run-collection/run-actor) API endpoint instead.

+ Request

    + Headers

            Content-Type: application/json

    + Attributes
        - foo: `bar`

+ Response 201

    + Headers

            Content-Type: application/json

    + Attributes
        - bar: `foo`


+ Response 400

    + Headers

            Content-Type: application/json

    + Attributes
        - error (object, required)
            - type: `run-failed` (string, required)
            - message: `Actor run did not succeed (run ID: 55uatRrZib4xbZs, status: FAILED)` (string, required)


+ Response 408

    + Headers

            Content-Type: application/json

    + Attributes
        - error (object, required)
            - type: `run-timeout-exceeded` (string, required)
            - message: `Actor run exceeded timeout of 300 seconds for this API endpoint` (string, required)

### Without input [GET]

Runs a specific actor and returns its output.
The run must finish in 300<!-- MAX_ACTOR_JOB_SYNC_WAIT_SECS --> seconds otherwise the API endpoint returns a timeout error.
The actor is not passed any input.

Beware that it might be impossible to maintain an idle HTTP connection for a long period of time,
due to client timeout or network conditions. Make sure your HTTP client is configured to have a long enough connection timeout.
If the connection breaks, you will not receive any information about the run and its status.

To run the actor asynchronously, use the [Run actor](#reference/actors/run-collection/run-actor) API endpoint instead.

+ Response 201

    + Headers

            Content-Type: application/json

    + Attributes
        - foo: `bar`


+ Response 400

    + Headers

            Content-Type: application/json

    + Attributes
        - error (object, required)
            - type: `run-failed` (string, required)
            - message: `Actor run did not succeed (run ID: 55uatRrZib4xbZs, status: FAILED)` (string, required)


+ Response 408

    + Headers

            Content-Type: application/json

    + Attributes
        - error (object, required)
            - type: `run-timeout-exceeded` (string, required)
            - message: `Actor run exceeded timeout of 60 seconds for this API enpoint` (string, required)

## Run actor synchronously and get dataset items [/v2/acts/{actorId}/run-sync-get-dataset-items{?token,timeout,memory,build,webhooks,format,offset,limit,attachment,delimiter,bom,desc,xmlRoot,xmlRow,fields,omit,unwind,skipHeaderRow,token,clean,skipHidden,skipEmpty,simplified,skipFailedPages}]

+ Parameters

    + actorId: `janedoe~my-actor` (string, required) - Actor ID or a tilde-separated owner's username and actor name.
    + token: `rWLaYmvZeK55uatRrZib4xbZs` (string, optional) - API authentication token. Public actors that are configured to be anonymously runnable do not require token parameter.
    + timeout: 60 (number, optional) - Optional timeout for the run, in seconds. By default, the run uses a timeout specified in the default run configuration for the actor.
    + memory: 256 (number, optional) - Memory limit for the run, in megabytes. By default, the run uses a memory limit specified in the default run configuration for the actor.
    + build: `0.1.234` (string, optional) - Specifies the actor build to run. It can be either a build tag or build number. By default, the run uses the build specified in the default run configuration for the actor (typically `latest`).
    + webhooks: `dGhpcyBpcyBqdXN0IGV4YW1wbGUK...` (string, optional) - Specifies optional webhooks associated with the actor run, which can be used to receive a notification
      e.g. when the actor finished or failed. The value is a Base64-encoded JSON array of objects defining the webhooks. For more information, see
      [Webhooks documenation](https://docs.apify.com/webhooks).
    + format: `json` (string, optional) - Format of the results, possible values are: `json`, `jsonl`, `csv`, `html`, `xlsx`, `xml` and `rss`. The default value is `json`.
    + clean: `false` (boolean, optional) - If `true` or `1` then the API endpoint returns only non-empty items and skips hidden fields
        (i.e. fields starting with the # character).
        The `clean` parameter is just a shortcut for `skipHidden=true` and `skipEmpty=true` parameters.
        Note that since some objects might be skipped from the output, that the result might contain less items than the `limit` value.
    + offset: 0 (number, optional) - Number of items that should be skipped at the start. The default value is `0`.
    + limit: 99 (number, optional) - Maximum number of items to return. By default there is no limit.
    + fields: `myValue,myOtherValue` (string, optional) - A comma-separated list of fields which should be picked from the items,
        only these fields will remain in the resulting record objects.
        Note that the fields in the outputted items are sorted the same way as they are specified in the `fields` query parameter.
        You can use this feature to effectively fix the output format.
    + omit: `myValue,myOtherValue` (string, optional) - A comma-separated list of fields which should be omitted from the items.
    + unwind: `myValue` (string, optional) - Name of a field which should be unwound. If the field is an array then every element of
        the array will become a separate record and merged with parent object.
        If the unwound field is an object then it is merged with the parent object
        If the unwound field is missing or its value is neither an array nor an object and therefore cannot be merged with a parent object then the item gets preserved as it is.
        Note that the unwound items ignore the `desc` parameter.
    + desc: true (boolean, optional) - By default, results are returned in the same order as they were stored. To reverse the order, set this parameter to `true` or `1`.
    + attachment: true (boolean, optional) - If `true` or `1` then the response will define the `Content-Disposition: attachment` header, forcing a web browser to download the file rather than to display it. By default this header is not present.
    + delimiter: `;` (string, optional) - A delimiter character for CSV files, only used if `format=csv`. You might need to URL-encode the character (e.g. use `%09` for tab or `%3B` for semicolon). The default delimiter is a simple comma (`,`).
    + bom: false (boolean, optional) - All text responses are encoded in UTF-8 encoding. By default, the `format=csv` files are prefixed with
        the UTF-8 Byte Order Mark (BOM), while `json`, `jsonl`, `xml`, `html` and `rss` files are not.
        If you want to override this default behavior, specify `bom=1` query parameter to include the BOM or `bom=0` to skip it.
    + xmlRoot: `items` (string, optional) - Overrides default root element name of `xml` output. By default the root element is `items`.
    + xmlRow: `item` (string, optional) - Overrides default element name that wraps each page or page function result object in `xml` output. By default the element name is `item`.
    + skipHeaderRow: true (boolean, optional) - If `true` or `1` then header row in the `csv` format is skipped.
    + skipHidden: `false` (boolean, optional) - If `true` or `1` then hidden fields are skipped from the output,
        i.e. fields starting with the `#` character.
    + skipEmpty: `false` (boolean, optional) - If `true` or `1` then empty items are skipped from the output.
        Note that if used, the results might contain less items than the limit value.
    + simplified: `false` (boolean, optional) - If `true` or `1` then, the endpoint applies the `fields=url,pageFunctionResult,errorInfo`
        and `unwind=pageFunctionResult` query parameters. This feature is used to emulate simplified results provided by the
        legacy Apify Crawler product and it's not recommended to use it in new integrations.
    + skipFailedPages: `false` (boolean, optional) - If `true` or `1` then, the all the items with errorInfo property will be skipped from the output.
        This feature is here to emulate functionality of API version 1 used for the legacy Apify Crawler product and it's not recommended to use it in new integrations.

### Run actor synchronously with input and get dataset items [POST]

Runs a specific actor and returns its dataset items.

The POST payload including its `Content-Type` header is passed as `INPUT` to the actor (usually `application/json`).
The HTTP response contains the actor's dataset items, while the format of items depends on specifying dataset items' `format` parameter.

You can send all the same options in parameters as the [Get Dataset Items](#/reference/datasets/item-collection/get-items) API endpoint.

The actor is started with the default options; you can override them using URL query parameters.
If the actor run exceeds 300<!-- MAX_ACTOR_JOB_SYNC_WAIT_SECS --> seconds,
the HTTP response will return the 408 status code (Request Timeout).

Beware that it might be impossible to maintain an idle HTTP connection for a long period of time,
due to client timeout or network conditions. Make sure your HTTP client is configured to have a long enough connection timeout.
If the connection breaks, you will not receive any information about the run and its status.

To run the actor asynchronously, use the [Run actor](#reference/actors/run-collection/run-actor) API endpoint instead.

+ Request

    + Headers

            Content-Type: application/json

    + Attributes
        - foo: `bar`

+ Response 201

    + Attributes
            + format: `json`

    + Headers

            X-Apifier-Pagination-Offset: 0
            X-Apifier-Pagination-Limit: 100
            X-Apifier-Pagination-Count: 100
            X-Apifier-Pagination-Total: 10204

    + Body

            [
              {
                myValue: 'some value',
                myOtherValue: 'some other value'
              }
            ]


+ Response 400

    + Headers

            Content-Type: application/json

    + Attributes
        - error (object, required)
            - type: `run-failed` (string, required)
            - message: `Actor run did not succeed (run ID: 55uatRrZib4xbZs, status: FAILED)` (string, required)


+ Response 408

    + Headers

            Content-Type: application/json

    + Attributes
        - error (object, required)
            - type: `run-timeout-exceeded` (string, required)
            - message: `Actor run exceeded timeout of 300 seconds for this API endpoint` (string, required)

### Run actor synchronously without input and get dataset items [GET]

Runs a specific actor and returns its dataset items.
The run must finish in 300<!-- MAX_ACTOR_JOB_SYNC_WAIT_SECS --> seconds otherwise the API endpoint returns a timeout error.
The actor is not passed any input.

It allows to send all possible options in parameters from [Get Dataset Items](#/reference/datasets/item-collection/get-items) API endpoint.

Beware that it might be impossible to maintain an idle HTTP connection for a long period of time,
due to client timeout or network conditions. Make sure your HTTP client is configured to have a long enough connection timeout.
If the connection breaks, you will not receive any information about the run and its status.

To run the actor asynchronously, use the [Run actor](#reference/actors/run-collection/run-actor) API endpoint instead.

+ Response 201

    + Attributes
            + format: `json`

    + Headers

            X-Apifier-Pagination-Offset: 0
            X-Apifier-Pagination-Limit: 100
            X-Apifier-Pagination-Count: 100
            X-Apifier-Pagination-Total: 10204

    + Body

            [
              {
                myValue: 'some value',
                myOtherValue: 'some other value'
              }
            ]


+ Response 400

    + Headers

            Content-Type: application/json

    + Attributes
        - error (object, required)
            - type: `run-failed` (string, required)
            - message: `Actor run did not succeed (run ID: 55uatRrZib4xbZs, status: FAILED)` (string, required)


+ Response 408

    + Headers

            Content-Type: application/json

    + Attributes
        - error (object, required)
            - type: `run-timeout-exceeded` (string, required)
            - message: `Actor run exceeded timeout of 60 seconds for this API enpoint` (string, required)

## Run object [/v2/acts/{actorId}/runs/{runId}{?token,waitForFinish}]

### Get run [GET]

Gets an object that contains all the details about a specific run of an actor.

By passing the optional `waitForFinish=1` parameter the API endpoint will synchronously wait for the run to finish.
This is useful to avoid periodic polling when waiting for actor run to complete.

This endpoint does not require the authentication token, the calls are authenticated using a hard-to-guess ID of the run.

+ Parameters

    + actorId: `janedoe~my-actor` (string, required) - Actor ID or a tilde-separated owner's username and actor name.
    + runId: `3KH8gEpp4d8uQSe8T` (string, required) - Run ID.
    + waitForFinish: 60 (number, optional) - The maximum number of seconds the server waits for the run to finish. By default it is `0`, the maximum value is `300`. <!-- MAX_ACTOR_JOB_SYNC_WAIT_SECS -->
                                                 If the build finishes in time then the returned run object will have a terminal status (e.g. `SUCCEEDED`),
                                                 otherwise it will have a transitional status (e.g. `RUNNING`).

+ Response 200 (application/json)

    + Attributes
        - data (Run, required)

## Abort run [/v2/acts/{actorId}/runs/{runId}/abort{?token}]

### Abort run [POST]

Aborts an actor run and returns an object that contains all the details about the run.
Only runs that are starting or running are aborted. For runs with status `FINISHED`, `FAILED`, `ABORTING` and `TIMED-OUT` this call does nothing.

+ Parameters

    + actorId: `janedoe~my-actor` (string, required) - Actor ID or a tilde-separated owner's username and actor name.
    + runId: `3KH8gEpp4d8uQSe8T` (string, required) - Run ID.
    + token: `rWLaYmvZeK55uatRrZib4xbZs` (string, required) - API authentication token.

+ Response 200 (application/json)

    + Attributes
        - data (RunAborted, required)

## Metamorph run [/v2/acts/{actorId}/runs/{runId}/metamorph{?token,build,targetActorId}]

### Metamorph run [POST]

Transforms an actor run into a run of another actor with a new input.
This is useful if you want to use another actor to finish the work
of your current actor run, without the need to create a completely new run and waiting for its finish.
For the users of your actors, the metamorph operation is transparent, they will just see your actor got the work done.

Internally, the system stops the Docker container corresponding to the actor run
and starts a new container using a different Docker image.
All the default storages are preserved and the new input is stored under the `INPUT-METAMORPH-1` key in the same default key-value store.

For more information, see [Actor docs](https://docs.apify.com/actors/development/source-code#metamorph).

+ Parameters

    + actorId: `janedoe~my-actor` (string, required) - Actor ID or a tilde-separated owner's username and actor name.
    + runId: `3KH8gEpp4d8uQSe8T` (string, required) - Actor run ID.
    + token: `rWLaYmvZeK55uatRrZib4xbZs` (string, required) - API authentication token.
    + targetActorId: `HDSasDasz78YcAPEB` (string, required) - ID of a target actor that the run should be transformed into.
    + build: `beta` (string, optional) - Optional build of the target actor.
      It can be either a build tag or build number. By default, the run uses the build specified in the default run configuration for the target actor (typically `latest`).

+ Response 200 (application/json)

    + Attributes
        - data (RunMetamorphed, required)

## Resurrect run [/v2/acts/{actorId}/runs/{runId}/resurrect{?token}]

### Resurrect run [POST]

Resurrects a finished actor run and returns an object that contains all the details about the resurrected run.
Only finished runs, i.e. runs with status `FINISHED`, `FAILED`, `ABORTED` and `TIMED-OUT` can be resurrected.
Run status will be updated to RUNNING and its container will be restarted with the same storages
(the same behaviour as when the run gets migrated to the new server).

For more information, see [Actor docs](https://docs.apify.com/actor/run#resurrection-of-finished-run).

+ Parameters

    + actorId: `janedoe~my-actor` (string, required) - Actor ID or a tilde-separated owner's username and actor name.
    + runId: `3KH8gEpp4d8uQSe8T` (string, required) - Run ID.
    + token: `rWLaYmvZeK55uatRrZib4xbZs` (string, required) - API authentication token.

+ Response 200 (application/json)

    + Attributes
        - data (Run, required)

## Last run object and its storages [/v2/acts/{actorId}/runs/last/{?token,status}]

This is not a single endpoint, but an entire group of endpoints that lets you to
retrieve and manage the last run of given actor or any of its default storages.
All the endpoints require an authentication token.

The endpoints accept the same HTTP methods and query parameters as
the respective storage endpoints.
The base path represents the last actor run object is:

`/v2/acts/{actorId}/runs/last{?token,status}`

Using the `status` query parameter you can ensure to only get a run with a certain status
(e.g. `status=SUCCEEDED`). The output of this endpoint and other query parameters
are the same as in the [Run object](#reference/actors/run-object) endpoint.

In order to access the default storages of the last actor run, i.e. log, key-value store, dataset and request queue,
use the following endpoints:

* `/v2/acts/{actorId}/runs/last/log{?token,status}`
* `/v2/acts/{actorId}/runs/last/key-value-store{?token,status}`
* `/v2/acts/{actorId}/runs/last/dataset{?token,status}`
* `/v2/acts/{actorId}/runs/last/request-queue{?token,status}`

These API endpoints have the same usage as the equivalent storage endpoints.
For example,
`/v2/acts/{actorId}/runs/last/key-value-store` has the same HTTP method and parameters as the
[Key-value store object](#reference/key-value-stores/store-object) endpoint.

Additionally, each of the above API endpoints supports all sub-endpoints
of the original one:

#### Key-value store

* `/v2/acts/{actorId}/runs/last/key-value-store/keys{?token,status}` [Key collection](#reference/key-value-stores/key-collection)
* `/v2/acts/{actorId}/runs/last/key-value-store/records/{recordKey}{?token,status}` [Record](#reference/key-value-stores/record)
* `/v2/acts/{actorId}/runs/last/key-value-store/records/{recordKey}/direct-upload-url{?token,status}` [Direct upload URL](#reference/key-value-stores/direct-upload-url)

#### Dataset

* `/v2/acts/{actorId}/runs/last/dataset/items{?token,status}` [Item collection](#reference/datasets/item-collection)

#### Request queue

* `/v2/acts/{actorId}/runs/last/request-queue/requests{?token,status}` [Request collection](#reference/request-queues/request-collection)
* `/v2/acts/{actorId}/runs/last/request-queue/requests/{requestId}{?token,status}` [Request collection](#reference/request-queues/request)
* `/v2/acts/{actorId}/runs/last/request-queue/head{?token,status}` [Queue head](#reference/request-queues/queue-head)

For example, to download data from a dataset of the last succeeded actor run in XML format,
send HTTP GET request to the following URL:

```
https://api.apify.com/v2/acts/{actorId}/runs/last/dataset/items?token={yourApiToken}&format=xml&status=SUCCEEDED
```

In order to save new items to the dataset, send HTTP POST request with JSON payload to the same URL.

+ Parameters

    + actorId: `janedoe~my-actor` (string, required) - Actor ID or a tilde-separated owner's username and actor name.
    + token: `rWLaYmvZeK55uatRrZib4xbZs` (string, required) - API authentication token.
    + status: `SUCCEEDED` (string, optional) - Filter for the run status.

### Get last run [GET]

+ Response 200 (application/json)

    + Attributes
        - data (Run, required)

# Group Actor tasks

The API endpoints described in this section enable you to manage and run Apify actor tasks.
For more information, see the <a href="https://docs.apify.com/tasks">Actor tasks documentation</a>.

Note that for all the API endpoints that accept the `actorTaskId` parameter to specify a task,
you can pass either the task ID (e.g. `HG7ML7M8z78YcAPEB`) or a tilde-separated
username of the task's owner and the task's name (e.g. `janedoe~my-task`).

## Task collection [/v2/actor-tasks{?token,offset,limit,desc}]

+ Parameters

    + token: `rWLaYmvZeK55uatRrZib4xbZs` (string, required) - API authentication token.


### Get list of tasks [GET]

Gets the complete list of tasks that a user has created or used. The response is a list of objects in which each object contains essential information about a single task.

The endpoint supports pagination using the `limit` and `offset` parameters, and it does not return more than a 1000 records.

By default, the records are sorted by the `createdAt` field in ascending order;
therefore you can use pagination to incrementally fetch all tasks while new
ones are still being created. To sort the records in descending order, use the `desc=1`
parameter.


+ Parameters

    + offset: 10 (number, optional) - Number of records that should be skipped at the start. The default value is `0`.
    + limit: 99 (number, optional) - Maximum number of records to return. The default value as well as the maximum is `1000`.
    + desc: true (boolean, optional) - If `true` or `1` then the objects are sorted by the `createdAt` field in descending order. By default, they are sorted in ascending order.

+ Response 200 (application/json)

    + Attributes
        - data (object, required)
            - total: 2 (number, required)
            - offset: 0 (number, required)
            - limit: 1000 (number, required)
            - desc: false (boolean, required)
            - count: 2 (number, required)
            - items (array[TaskShort1,TaskShort2], required)

### Create task [POST]

Create a new task with settings specified by the object passed as JSON in the POST payload.
The response is the full task object as returned by the
[Get task](#reference/tasks/task-object/get-task) endpoint.

The request needs to specify the `Content-Type: application/json` HTTP header!

+ Request (application/json)

    + Attributes(TaskCreate)

+ Response 201 (application/json)

    + Headers

            Location: https://api.apify.com/v2/actor-tasks/zdc3Pyhyz3m8vjDeM

    + Attributes
        - data (Task, required)

## Task object [/v2/actor-tasks/{actorTaskId}{?token}]

+ Parameters

    + actorTaskId: `janedoe~my-task` (string, required) - Task ID or a tilde-separated owner's username and task's name.
    + token: `rWLaYmvZeK55uatRrZib4xbZs` (string, required) - API authentication token.

### Get task [GET]

Get an object that contains all the details about a task.

+ Response 200 (application/json)

    + Attributes
        - data (Task, required)

### Update task [PUT]

Update settings of a task using values specified by an object passed as JSON in the POST payload.
If the object does not define a specific property, its value is not updated.

The response is the full task object as returned by the
[Get task](#reference/tasks/task-object/get-task) endpoint.

The request needs to specify the `Content-Type: application/json` HTTP header!

+ Request (application/json)

    + Attributes(TaskUpdate)

+ Response 200 (application/json)

    + Attributes
        - data (Task, required)

### Delete task [DELETE]

Delete the task specified through the `actorTaskId` parameter.

+ Response 204 (application/json)

    + Attributes(object)

## Task input object [/v2/actor-tasks/{actorTaskId}/input{?token}]

+ Parameters

    + actorTaskId: `janedoe~my-task` (string, required) - Task ID or a tilde-separated owner's username and task's name.
    + token: `rWLaYmvZeK55uatRrZib4xbZs` (string, required) - API authentication token.

### Get task input [GET]

Returns the input of a given task.

+ Response 200 (application/json)

    + Attributes
        - myField1:      `some-value`       (string, nullable)
        - myField2:      `another-value`    (string, nullable)
        - myField3:      1                  (number, nullable)

### Update task input [PUT]

Updates the input of a task using values specified by an object passed as JSON in the PUT payload.
If the object does not define a specific property, its value is not updated.

The response is the full task input as returned by the
[Get task](#reference/tasks/task-input-object/get-task-input) endpoint.

The request needs to specify the `Content-Type: application/json` HTTP header!

+ Request (application/json)

    + Attributes
        - myField2:     `updated-value`    (string, nullable)

+ Response 200 (application/json)

    + Attributes
        - myField1:      `some-value`       (string, nullable)
        - myField2:     `updated-value`    (string, nullable)
        - myField3:      1                  (number, nullable)

## Webhook collection [/v2/actor-tasks/{actorTaskId}/webhooks{?token,offset,limit,desc}]

+ Parameters

    + actorTaskId: `janedoe~my-task` (string, required) - Task ID or a tilde-separated owner's username and task's name.
    + token: `rWLaYmvZeK55uatRrZib4xbZs` (string, required) - API authentication token.

### Get list of webhooks [GET]

Gets the list of webhooks of a specific actor task. The response is a JSON with the list of objects, where each object
contains basic information about a single webhook.

The endpoint supports pagination using the `limit` and `offset` parameters and it will not return more than 1000 records.

By default, the records are sorted by the `createdAt` field in ascending order,
to sort the records in descending order, use the `desc=1` parameter.

+ Parameters

    + token: `rWLaYmvZeK55uatRrZib4xbZs` (string, required) - API authentication token.
    + offset: 10 (number, optional) - Number of array elements that should be skipped at the start. The default value is `0`.
    + limit: 99 (number, optional) - Maximum number of array elements to return. The default value as well as the maximum is `1000`.
    + desc: true (boolean, optional) - If `true` or `1` then the objects are sorted by the `createdAt` field in descending order. By default, they are sorted in ascending order.

+ Response 200 (application/json)

    + Attributes
        - data (object, required)
            - total: 2 (number, required)
            - offset: 0 (number, required)
            - limit: 1000 (number, required)
            - desc: false (boolean, required)
            - count: 2 (number, required)
            - items (array[Webhook,Webhook], required)

## Run collection [/v2/actor-tasks/{actorTaskId}/runs{?token,offset,limit,desc,waitForFinish,webhooks,timeout,memory,build,status}]

+ Parameters

    + actorTaskId: `janedoe~my-task` (string, required) - Task ID or a tilde-separated owner's username and task's name.

### Get list of task runs [GET]

Get a list of runs of a specific task. The response is a list of objects, where each object
contains essential information about a single task run.

The endpoint supports pagination using the `limit` and `offset` parameters, and it does not return more than a 1000
array elements.

By default, the records are sorted by the `startedAt` field in ascending order;
therefore you can use pagination to incrementally fetch all records while new
ones are still being created. To sort the records in descending order, use the `desc=1`
parameter. You can also filter runs by status ([available statuses](https://docs.apify.com/actors/running#lifecycle)).

+ Parameters

    + actorTaskId: `janedoe~my-task` (string, required) - Task ID or a tilde-separated owner's username and task's name.
    + token: `rWLaYmvZeK55uatRrZib4xbZs` (string, required) - API authentication token.
    + offset: 10 (number, optional) - Number of array elements that should be skipped at the start. The default value is `0`.
    + limit: 99 (number, optional) - Maximum number of array elements to return. The default value as well as the maximum is `1000`.
    + desc: true (boolean, optional) - If `true` or `1` then the objects are sorted by the `startedAt` field in descending order. By default, they are sorted in ascending order.
    + status: SUCCEEDED (string, optional) - Return only runs with the provided status ([available statuses](https://docs.apify.com/actors/running#lifecycle))

+ Response 200 (application/json)

    + Attributes
        - data (object, required)
            - total: 2 (number, required)
            - offset: 0 (number, required)
            - limit: 1000 (number, required)
            - desc: false (boolean, required)
            - count: 2 (number, required)
            - items (array[RunShort1,RunShort2], required)

### Run task [POST]

Runs an actor task and immediately returns without waiting for the run to finish.

Optionally, you can override the actor input configuration by passing a JSON object as the POST payload
and setting the `Content-Type: application/json` HTTP header.
Note that if the object in the POST payload does not define a particular input property,
the actor run uses the default value defined by the task (or actor's input schema if not defined by the task).

The response is the actor Run object as returned by the [Get run](#reference/actors/run-object/get-run) endpoint.
If you want to wait for the run to finish and receive the actual output of the actor run as the response,
use one of the [Run task synchronously](#reference/actor-tasks/run-task-synchronously) API endpoints instead.

To fetch the actor run results that are typically stored in the default dataset,
you'll need to pass the ID received in the `defaultDatasetId` field
received in the response JSON to the [Get items](#reference/datasets/item-collection/get-items) API endpoint.

+ Parameters

    + actorTaskId: `janedoe~my-task` (string, required) - Task ID or a tilde-separated owner's username and task's name.
    + token: `rWLaYmvZeK55uatRrZib4xbZs` (string, optional) - API authentication token.
    + timeout: 60 (number, optional) - Optional timeout for the run, in seconds. By default, the run uses a timeout specified in the task settings.
    + memory: 256 (number, optional) - Memory limit for the run, in megabytes. By default, the run uses a memory limit specified in the task settings.
    + build: `0.1.234` (string, optional) - Specifies the actor build to run. It can be either a build tag or build number. By default, the run uses the build specified in the task settings (typically `latest`).
    + waitForFinish: 60 (number, optional) - The maximum number of seconds the server waits for the run to finish. By default, it is `0`, the maximum value is `300`. <!-- MAX_ACTOR_JOB_SYNC_WAIT_SECS -->
      If the build finishes in time then the returned run object will have a terminal status (e.g. `SUCCEEDED`),
      otherwise it will have a transitional status (e.g. `RUNNING`).
    + webhooks: `dGhpcyBpcyBqdXN0IGV4YW1wbGUK...` (string, optional) - Specifies optional webhooks associated with the actor run, which can be used to receive a notification
      e.g. when the actor finished or failed. The value is a Base64-encoded JSON array of objects defining the webhooks.
      **Note**: if you already have a webhook set up for the actor or task, you do not have to add it again here.
      For more information, see
      [Webhooks documenation](https://docs.apify.com/webhooks).

+ Request

    + Headers

            Content-Type: application/json

    + Attributes
        - foo: `bar`

+ Response 201 (application/json)

    + Headers

            Location: https://api.apify.com/v2/actor-tasks/zdc3Pyhyz3m8vjDeM/runs/HG7ML7M8z78YcAPEB

    + Attributes
        - data (TaskRun, required)

## Run task synchronously [/v2/actor-tasks/{actorTaskId}/run-sync{?token,outputRecordKey,webhooks,timeout,memory,build}]

+ Parameters

    + actorTaskId: `janedoe~my-task` (string, required) - Task ID or a tilde-separated owner's username and task's name.
    + token: `rWLaYmvZeK55uatRrZib4xbZs` (string, optional) - API authentication token.
    + timeout: 60 (number, optional) - Optional timeout for the run, in seconds. By default, the run uses a timeout specified in the task settings.
    + memory: 256 (number, optional) - Memory limit for the run, in megabytes. By default, the run uses a memory limit specified in the task settings.
    + build: `0.1.234` (string, optional) - Specifies the actor build to run. It can be either a build tag or build number. By default, the run uses the build specified in the task settings (typically `latest`).
    + outputRecordKey: `OUTPUT` (string, optional) - Key of the record from run's default key-value store to be returned
      in the response. By default, it is `OUTPUT`.
    + webhooks: `dGhpcyBpcyBqdXN0IGV4YW1wbGUK...` (string, optional) - Specifies optional webhooks associated with the actor run, which can be used to receive a notification
      e.g. when the actor finished or failed. The value is a Base64-encoded JSON array of objects defining the webhooks. For more information, see
      [Webhooks documenation](https://docs.apify.com/webhooks).

### Run task synchronously (POST) [POST]

Runs an actor task and synchronously returns its output.
The run must finish in 300<!-- MAX_ACTOR_JOB_SYNC_WAIT_SECS --> seconds otherwise the API endpoint returns a timeout error.

Optionally, you can override the actor input configuration by passing a JSON object as the POST payload
and setting the `Content-Type: application/json` HTTP header.
Note that if the object in the POST payload does not define a particular input property,
the actor run uses the default value defined by the task (or actor's input schema if not defined by the task).

Beware that it might be impossible to maintain an idle HTTP connection for an extended period,
due to client timeout or network conditions. Make sure your HTTP client is configured to have a long enough connection timeout.
If the connection breaks, you will not receive any information about the run and its status.

Input fields from actor task configuration can be overloaded with values passed as the POST payload.
Just make sure to specify `Content-Type` header to be `application/json` and input to be an object.

To run the task asynchronously, use the [Run task](#reference/actor-tasks/run-collection/run-task) API endpoint instead.

+ Request

    + Headers

            Content-Type: application/json

    + Attributes
        - foo: `bar`

+ Response 201

    + Headers

            Content-Type: application/json

    + Attributes
        - bar: `foo`


+ Response 400

    + Headers

            Content-Type: application/json

    + Attributes
        - error (object, required)
            - type: `run-failed` (string, required)
            - message: `Actor run did not succeed (run ID: 55uatRrZib4xbZs, status: FAILED)` (string, required)

### Run task synchronously (GET) [GET]

Run a specific task and return its output.
The run must finish in 300<!-- MAX_ACTOR_JOB_SYNC_WAIT_SECS --> seconds otherwise the API endpoint returns a timeout error.

Beware that it might be impossible to maintain an idle HTTP connection for an extended period,
due to client timeout or network conditions. Make sure your HTTP client is configured to have a long enough connection timeout.
If the connection breaks, you will not receive any information about the run and its status.

To run the Task asynchronously, use the [Run task asynchronously](#reference/actor-tasks/run-collection/run-task) endpoint instead.

+ Response 201

    + Headers

            Content-Type: application/json

    + Attributes
        - bar: `foo`


+ Response 400

    + Headers

            Content-Type: application/json

    + Attributes
        - error (object, required)
            - type: `run-failed` (string, required)
            - message: `Actor run did not succeed (run ID: 55uatRrZib4xbZs, status: FAILED)` (string, required)

+ Response 408

    + Headers

            Content-Type: application/json

    + Attributes
        - error (object, required)
            - type: `run-timeout-exceeded` (string, required)
            - message: `Actor run exceeded timeout of 300 seconds for this API endpoint` (string, required)

## Run task synchronously and get dataset items [/v2/actor-tasks/{actorTaskId}/run-sync-get-dataset-items{?token,webhooks,timeout,memory,build,format,offset,limit,attachment,delimiter,bom,desc,xmlRoot,xmlRow,fields,omit,unwind,skipHeaderRow,token,clean,skipHidden,skipEmpty,simplified,skipFailedPages}]

+ Parameters

    + actorTaskId: `janedoe~my-task` (string, required) - Task ID or a tilde-separated owner's username and task's name.
    + token: `rWLaYmvZeK55uatRrZib4xbZs` (string, optional) - API authentication token.
    + timeout: 60 (number, optional) - Optional timeout for the run, in seconds. By default, the run uses a timeout specified in the task settings.
    + memory: 256 (number, optional) - Memory limit for the run, in megabytes. By default, the run uses a memory limit specified in the task settings.
    + build: `0.1.234` (string, optional) - Specifies the actor build to run. It can be either a build tag or build number. By default, the run uses the build specified in the task settings (typically `latest`).
    + webhooks: `dGhpcyBpcyBqdXN0IGV4YW1wbGUK...` (string, optional) - Specifies optional webhooks associated with the actor run, which can be used to receive a notification
      e.g. when the actor finished or failed. The value is a Base64-encoded JSON array of objects defining the webhooks. For more information, see
      [Webhooks documenation](https://docs.apify.com/webhooks).
    + format: `json` (string, optional) - Format of the results, possible values are: `json`, `jsonl`, `csv`, `html`, `xlsx`, `xml` and `rss`. The default value is `json`.
    + clean: `false` (boolean, optional) - If `true` or `1` then the API endpoint returns only non-empty items and skips hidden fields
      (i.e. fields starting with the # character).
      The `clean` parameter is just a shortcut for `skipHidden=true` and `skipEmpty=true` parameters.
      Note that since some objects might be skipped from the output, that the result might contain less items than the `limit` value.
    + offset: 0 (number, optional) - Number of items that should be skipped at the start. The default value is `0`.
    + limit: 99 (number, optional) - Maximum number of items to return. By default there is no limit.
    + fields: `myValue,myOtherValue` (string, optional) - A comma-separated list of fields which should be picked from the items,
      only these fields will remain in the resulting record objects.
      Note that the fields in the outputted items are sorted the same way as they are specified in the `fields` query parameter.
      You can use this feature to effectively fix the output format.
    + omit: `myValue,myOtherValue` (string, optional) - A comma-separated list of fields which should be omitted from the items.
    + unwind: `myValue` (string, optional) - Name of a field which should be unwound. If the field is an array then every element of
      the array will become a separate record and merged with parent object.
      If the unwound field is an object then it is merged with the parent object
      If the unwound field is missing or its value is neither an array nor an object and therefore cannot be merged with a parent object then the item gets preserved as it is.
      Note that the unwound items ignore the `desc` parameter.
    + desc: true (boolean, optional) - By default, results are returned in the same order as they were stored. To reverse the order, set this parameter to `true` or `1`.
    + attachment: true (boolean, optional) - If `true` or `1` then the response will define the `Content-Disposition: attachment` header, forcing a web browser to download the file rather than to display it. By default this header is not present.
    + delimiter: `;` (string, optional) - A delimiter character for CSV files, only used if `format=csv`. You might need to URL-encode the character (e.g. use `%09` for tab or `%3B` for semicolon). The default delimiter is a simple comma (`,`).
    + bom: false (boolean, optional) - All text responses are encoded in UTF-8 encoding. By default, the `format=csv` files are prefixed with
      the UTF-8 Byte Order Mark (BOM), while `json`, `jsonl`, `xml`, `html` and `rss` files are not.
      If you want to override this default behavior, specify `bom=1` query parameter to include the BOM or `bom=0` to skip it.
    + xmlRoot: `items` (string, optional) - Overrides default root element name of `xml` output. By default the root element is `items`.
    + xmlRow: `item` (string, optional) - Overrides default element name that wraps each page or page function result object in `xml` output. By default the element name is `item`.
    + skipHeaderRow: true (boolean, optional) - If `true` or `1` then header row in the `csv` format is skipped.
    + skipHidden: `false` (boolean, optional) - If `true` or `1` then hidden fields are skipped from the output,
      i.e. fields starting with the `#` character.
    + skipEmpty: `false` (boolean, optional) - If `true` or `1` then empty items are skipped from the output.
      Note that if used, the results might contain less items than the limit value.
    + simplified: `false` (boolean, optional) - If `true` or `1` then, the endpoint applies the `fields=url,pageFunctionResult,errorInfo`
      and `unwind=pageFunctionResult` query parameters. This feature is used to emulate simplified results provided by the
      legacy Apify Crawler product and it's not recommended to use it in new integrations.
    + skipFailedPages: `false` (boolean, optional) - If `true` or `1` then, the all the items with errorInfo property will be skipped from the output.
      This feature is here to emulate functionality of API version 1 used for the legacy Apify Crawler product and it's not recommended to use it in new integrations.

### Run task synchronously and get dataset items (POST) [POST]

Runs an actor task and synchronously returns its dataset items.
The run must finish in 300<!-- MAX_ACTOR_JOB_SYNC_WAIT_SECS --> seconds otherwise the API endpoint returns a timeout error.

Optionally, you can override the actor input configuration by passing a JSON object as the POST payload
and setting the `Content-Type: application/json` HTTP header.
Note that if the object in the POST payload does not define a particular input property,
the actor run uses the default value defined by the task (or the actor's input schema if not defined by the task).

You can send all the same options in parameters as the [Get Dataset Items](#/reference/datasets/item-collection/get-items) API endpoint.

Beware that it might be impossible to maintain an idle HTTP connection for an extended period,
due to client timeout or network conditions. Make sure your HTTP client is configured to have a long enough connection timeout.
If the connection breaks, you will not receive any information about the run and its status.

Input fields from actor task configuration can be overloaded with values passed as the POST payload.
Just make sure to specify the `Content-Type` header as `application/json` and that the input is an object.

To run the task asynchronously, use the [Run task](#reference/actor-tasks/run-collection/run-task) API endpoint instead.

+ Request

    + Headers

            Content-Type: application/json

    + Attributes
        - foo: `bar`

+ Response 201

    + Attributes
            + format: `json`

    + Headers

            X-Apifier-Pagination-Offset: 0
            X-Apifier-Pagination-Limit: 100
            X-Apifier-Pagination-Count: 100
            X-Apifier-Pagination-Total: 10204

    + Body

            [
              {
                myValue: 'some value',
                myOtherValue: 'some other value'
              }
            ]


+ Response 400

    + Headers

            Content-Type: application/json

    + Attributes
        - error (object, required)
            - type: `run-failed` (string, required)
            - message: `Actor run did not succeed (run ID: 55uatRrZib4xbZs, status: FAILED)` (string, required)

### Run task synchronously and get dataset items (GET) [GET]

Run a specific task and return its dataset items.
The run must finish in 300<!-- MAX_ACTOR_JOB_SYNC_WAIT_SECS --> seconds otherwise the API endpoint returns a timeout error.

You can send all the same options in parameters as the [Get Dataset Items](#/reference/datasets/item-collection/get-items) API endpoint.

Beware that it might be impossible to maintain an idle HTTP connection for an extended period,
due to client timeout or network conditions. Make sure your HTTP client is configured to have a long enough connection timeout.
If the connection breaks, you will not receive any information about the run and its status.

To run the Task asynchronously, use the [Run task asynchronously](#reference/actor-tasks/run-collection/run-task) endpoint instead.

+ Response 201

    + Attributes
            + format: `json`

    + Headers

            X-Apifier-Pagination-Offset: 0
            X-Apifier-Pagination-Limit: 100
            X-Apifier-Pagination-Count: 100
            X-Apifier-Pagination-Total: 10204

    + Body

            [
              {
                myValue: 'some value',
                myOtherValue: 'some other value'
              }
            ]


+ Response 400

    + Headers

            Content-Type: application/json

    + Attributes
        - error (object, required)
            - type: `run-failed` (string, required)
            - message: `Actor run did not succeed (run ID: 55uatRrZib4xbZs, status: FAILED)` (string, required)

+ Response 408

    + Headers

            Content-Type: application/json

    + Attributes
        - error (object, required)
            - type: `run-timeout-exceeded` (string, required)
            - message: `Actor run exceeded timeout of 300 seconds for this API endpoint` (string, required)

## Last run object and its storages [/v2/acts/{actorId}/runs/last/{?token,status,actorTaskId}]

This is not a single endpoint, but an entire group of endpoints that lets you to
retrieve and manage the last run of given actor task or any of its default storages.
All the endpoints require an authentication token.

The endpoints accept the same HTTP methods and query parameters as
the respective storage endpoints.
The base path represents the last actor task run object is:

`/v2/actor-tasks/{actorTaskId}/runs/last{?token,status}`

Using the `status` query parameter you can ensure to only get a run with a certain status
(e.g. `status=SUCCEEDED`). The output of this endpoint and other query parameters
are the same as in the [Run object](#reference/actors/run-object) endpoint.

In order to access the default storages of the last actor task run, i.e. log, key-value store, dataset and request queue,
use the following endpoints:

* `/v2/actor-tasks/{actorTaskId}/runs/last/log{?token,status}`
* `/v2/actor-tasks/{actorTaskId}/runs/last/key-value-store{?token,status}`
* `/v2/actor-tasks/{actorTaskId}/runs/last/dataset{?token,status}`
* `/v2/actor-tasks/{actorTaskId}/runs/last/request-queue{?token,status}`

These API endpoints have the same usage as the equivalent storage endpoints.
For example,
`/v2/actor-tasks/{actorTaskId}/runs/last/key-value-store` has the same HTTP method and parameters as the
[Key-value store object](#reference/key-value-stores/store-object) endpoint.

Additionally, each of the above API endpoints supports all sub-endpoints
of the original one:

#### Key-value store

* `/v2/actor-tasks/{actorTaskId}/runs/last/key-value-store/keys{?token,status}` [Key collection](#reference/key-value-stores/key-collection)
* `/v2/actor-tasks/{actorTaskId}/runs/last/key-value-store/records/{recordKey}{?token,status}` [Record](#reference/key-value-stores/record)
* `/v2/actor-tasks/{actorTaskId}/runs/last/key-value-store/records/{recordKey}/direct-upload-url{?token,status}` [Direct upload URL](#reference/key-value-stores/direct-upload-url)

#### Dataset

* `/v2/actor-tasks/{actorTaskId}/runs/last/dataset/items{?token,status}` [Item collection](#reference/datasets/item-collection)

#### Request queue

* `/v2/actor-tasks/{actorTaskId}/runs/last/request-queue/requests{?token,status}` [Request collection](#reference/request-queues/request-collection)
* `/v2/actor-tasks/{actorTaskId}/runs/last/request-queue/requests/{requestId}{?token,status}` [Request collection](#reference/request-queues/request)
* `/v2/actor-tasks/{actorTaskId}/runs/last/request-queue/head{?token,status}` [Queue head](#reference/request-queues/queue-head)

For example, to download data from a dataset of the last succeeded actor task run in XML format,
send HTTP GET request to the following URL:

```
https://api.apify.com/v2/actor-tasks/{actorTaskId}/runs/last/dataset/items?token={yourApiToken}&format=xml&status=SUCCEEDED
```

In order to save new items to the dataset, send HTTP POST request with JSON payload to the same URL.

+ Parameters

    + actorTaskId: `janedoe~my-task` (string, required) - Actor ID or a tilde-separated owner's username and actor task name.
    + token: `rWLaYmvZeK55uatRrZib4xbZs` (string, required) - API authentication token.
    + status: `SUCCEEDED` (string, optional) - Filter for the run status.

### Get last run [GET]

+ Response 200 (application/json)

    + Attributes
        - data (Run, required)

# Group Actor runs

The API endpoints described in this section enable you to manage Apify actor run.

## Run object [/v2/actor-runs/{runId}{?token,waitForFinish}]

### Get run [GET]

Gets an object that contains all the details about a specific run of an actor.

By passing the optional `waitForFinish=1` parameter the API endpoint will synchronously wait for the run to finish.
This is useful to avoid periodic polling when waiting for actor run to complete.

This endpoint does not require the authentication token, the calls are authenticated using a hard-to-guess ID of the run.

+ Parameters

    + runId: `3KH8gEpp4d8uQSe8T` (string, required) - Run ID.
    + waitForFinish: 60 (number, optional) - The maximum number of seconds the server waits for the run to finish. By default it is `0`, the maximum value is `300`. <!-- MAX_ACTOR_JOB_SYNC_WAIT_SECS -->
                                                 If the build finishes in time then the returned run object will have a terminal status (e.g. `SUCCEEDED`),
                                                 otherwise it will have a transitional status (e.g. `RUNNING`).

+ Response 200 (application/json)

    + Attributes
        - data (Run, required)

## Abort run [/v2/actor-runs/{runId}/abort{?token}]

### Abort run [POST]

Aborts an actor run and returns an object that contains all the details about the run.
Only runs that are starting or running are aborted. For runs with status `FINISHED`, `FAILED`, `ABORTING` and `TIMED-OUT` this call does nothing.

+ Parameters

    + runId: `3KH8gEpp4d8uQSe8T` (string, required) - Run ID.
    + token: `rWLaYmvZeK55uatRrZib4xbZs` (string, required) - API authentication token.

+ Response 200 (application/json)

    + Attributes
        - data (RunAborted, required)

## Metamorph run [/v2/actor-runs/{runId}/metamorph{?token,build,targetActorId}]

### Metamorph run [POST]

Transforms an actor run into a run of another actor with a new input.
This is useful if you want to use another actor to finish the work
of your current actor run, without the need to create a completely new run and waiting for its finish.
For the users of your actors, the metamorph operation is transparent, they will just see your actor got the work done.

Internally, the system stops the Docker container corresponding to the actor run
and starts a new container using a different Docker image.
All the default storages are preserved and the new input is stored under the `INPUT-METAMORPH-1` key in the same default key-value store.

For more information, see [Actor docs](https://docs.apify.com/actors/development/source-code#metamorph).

+ Parameters

    + runId: `3KH8gEpp4d8uQSe8T` (string, required) - Actor run ID.
    + token: `rWLaYmvZeK55uatRrZib4xbZs` (string, required) - API authentication token.
    + targetActorId: `HDSasDasz78YcAPEB` (string, required) - ID of a target actor that the run should be transformed into.
    + build: `beta` (string, optional) - Optional build of the target actor.
      It can be either a build tag or build number. By default, the run uses the build specified in the default run configuration for the target actor (typically `latest`).

+ Response 200 (application/json)

    + Attributes
        - data (RunMetamorphed, required)

## Resurrect run [/v2/actor-runs/{runId}/resurrect{?token}]

### Resurrect run [POST]

Resurrects a finished actor run and returns an object that contains all the details about the resurrected run.
Only finished runs, i.e. runs with status `FINISHED`, `FAILED`, `ABORTED` and `TIMED-OUT` can be resurrected.
Run status will be updated to RUNNING and its container will be restarted with the same storages
(the same behaviour as when the run gets migrated to the new server).

For more information, see [Actor docs](https://docs.apify.com/actor/run#resurrection-of-finished-run).

+ Parameters

    + runId: `3KH8gEpp4d8uQSe8T` (string, required) - Run ID.
    + token: `rWLaYmvZeK55uatRrZib4xbZs` (string, required) - API authentication token.

+ Response 200 (application/json)

    + Attributes
        - data (Run, required)

# Group Actor builds

The API endpoints described in this section enable you to manage Apify actor build.

## Build object [/v2/actor-builds/{buildId}{?token,waitForFinish}]

### Get build [GET]

Gets an object that contains all the details about a specific build of an actor.

By passing the optional `waitForFinish=1` parameter the API endpoint will synchronously wait for the build to finish.
This is useful to avoid periodic polling when waiting for an actor build to finish.

+ Parameters

    + buildId: `rWLaYmvZeK55uatRrZib4xbZs` (string, required) - ID of the build you want to get, found in the build's `Info` tab.
    + waitForFinish: 60 (number, optional) - The maximum number of seconds the server waits for the build to finish. By default it is `0`, the maximum value is `300`. <!-- MAX_ACTOR_JOB_SYNC_WAIT_SECS -->
                                             If the build finishes in time then the returned build object will have a terminal status (e.g. `SUCCEEDED`),
                                             otherwise it will have a transitional status (e.g. `RUNNING`).
    + token: `rWLaYmvZeK55uatRrZib4xbZs` (string, optional) - API authentication token. It is only required for private actors.
        Builds of public actors can be queried without any token.

+ Response 200 (application/json)

    + Attributes
        - data (Build, required)


## Abort build [/v2/actor-builds/{buildId}/abort{?token}]

### Abort build [POST]

Aborts an actor build and returns an object that contains all the details about the build.
Only builds that are starting or running are aborted. For builds with status `FINISHED`, `FAILED`, `ABORTING` and `TIMED-OUT` this call does nothing.

+ Parameters

    + buildId: `3KH8gEpp4d8uQSe8T` (string, required) - Build ID.
    + token: `rWLaYmvZeK55uatRrZib4xbZs` (string, required) - API authentication token.

+ Response 200 (application/json)

    + Attributes
        - data (BuildAborted, required)

# Group Key-value stores

This section describes API endpoints to manage Key-value stores.
Key-value store is a simple storage for saving and reading data records or files.
Each data record is represented by a unique key and associated with a MIME content type.
Key-value stores are ideal for saving screenshots, actor inputs and outputs, web pages,
PDFs or to persist the state of crawlers.
For more information, see the <a href="https://docs.apify.com/storage/key-value-store">Key-value store documentation</a>.

Note that some of the endpoints do not require the authentication token, the calls
are authenticated using a hard-to-guess ID of the key-value store.

## Store collection [/v2/key-value-stores{?token,limit,offset,desc,name,unnamed}]

+ Parameters

    + token: `rWLaYmvZeK55uatRrZib4xbZs` (string, required) - API authentication token.

### Get list of key-value stores [GET]

Gets the list of key-value stores owned by the user.
The response is a list of objects, where each objects contains a basic information about a single key-value store.

The endpoint supports pagination using the `limit` and `offset` parameters and it will not return more than 1000
array elements.

By default, the records are sorted by the `createdAt` field in ascending order,
therefore you can use pagination to incrementally fetch all key-value stores while new
ones are still being created. To sort the records in descending order, use the `desc=1`
parameter.

+ Parameters

    + offset: 10 (number, optional) - Number of records that should be skipped at the start. The default value is `0`.
    + limit: 99 (number, optional) - Maximum number of records to return. The default value as well as the maximum is `1000`.
    + desc: true (boolean, optional) - If `true` or `1` then the objects are sorted by the `startedAt` field in descending order. By default, they are sorted in ascending order.
    + unnamed: true (boolean, optional) - If `true` or `1` then all the stores are returned. By default, only named key-value stores are returned.

+ Response 200 (application/json)

    + Attributes
        - data (object, required)
            - total: 2 (number, required)
            - offset: 0 (number, required)
            - limit: 1000 (number, required)
            - desc: false (boolean, required)
            - count: 2 (number, required)
            - items (array[KVStoreShort1,KVStoreShort2], required)

### Create key-value store [POST]

Creates a key-value store and returns its object. The response is the same object as returned
by the [Get store](#reference/key-value-stores/store-object/get-store) endpoint.
Keep in mind that data stored under unnamed store follows [data retention period](https://docs.apify.com/storage#data-retention).

It creates a store with the given name if the parameter name is used.
If there is another store with the same name, the endpoint does not create a new one and returns the existing object instead.

+ Parameters

    + token: `rWLaYmvZeK55uatRrZib4xbZs` (string, required) - API authentication token.
    + name: `eshop-values` (string, optional) - Custom unique name to easily identify the store in the future.

+ Response 201 (application/json)

    + Headers

            Location: https://api.apify.com/v2/key-value-stores/WkzbQMuFYuamGv3YF

    + Attributes
        - data (KVStore, required)

## Store object [/v2/key-value-stores/{storeId}{?token}]

+ Parameters

    + storeId: `WkzbQMuFYuamGv3YF` (string, required) - Key-value store ID or `username~store-name`.

### Get store [GET]

Gets an object that contains all the details about a specific key-value store.

+ Parameters

    + token:   `soSkq9ekdmfOslopH` (string, optional) - API authentication token. It is required only when using the `username~store-name` format for `storeId`.

+ Response 200 (application/json)

    + Attributes
        - data (KVStore, required)

### Update store [PUT]

Updates a key-value store's name using a value specified by a JSON object passed in the PUT payload.

The response is the updated key-value store object, as returned by the [Get store](#reference/key-value-stores/store-object/get-store) API endpoint.

+ Parameters

    + token:   `soSkq9ekdmfOslopH` (string, required) - API authentication token.

+ Request

        {
            "name": "new-store-name"
        }

+ Response 200 (application/json)

    + Attributes
        - data (KVStore, required)

### Delete store [DELETE]

Deletes a key-value store.

+ Parameters

    + token:   `soSkq9ekdmfOslopH` (string, required) - API authentication token.

+ Response 204 (application/json)

## Key collection [/v2/key-value-stores/{storeId}/keys{?exclusiveStartKey,limit,token}]

### Get list of keys [GET]

Returns a list of objects describing keys of a given key-value store, as well as some information about the values (e.g. size).
This endpoint is paginated using `exclusiveStartKey` and `limit` parameters - see [Pagination](#introduction/response-structure) for more details.

+ Parameters

    + storeId: `WkzbQMuFYuamGv3YF` (string, required) - Key-value store ID or `username~store-name`.
    + exclusiveStartKey: `Ihnsp8YrvJ8102Kj` (string, optional) - All keys up to this one (including) are skipped from the result.
    + limit: 100 (number, optional) - Number of keys to be returned. Maximum value is `1000`.
    + token: `soSkq9ekdmfOslopH` (string, optional) - API authentication token. It is required only when using the `username~store-name` format for `storeId`.

+ Response 200 (application/json)

    + Attributes
        - data (object, required)
            - items (array, required)
                - (object)
                    - key: `second-key` (string, required)
                    - size: 36 (number, required)
                - (object)
[...]
