.footer {
    padding: 4rem 1.6rem 8rem;
    border-top: 1px solid var(--color-neutral-separator-subtle);
}

.container {
    max-width: var(--max-layout-width);
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.builtBy {
    color: #b3b8d2;
}

.builtBy svg {
    margin-left: 10px;
    width: 90px;
    height: 24px;
}

.freeAndOpenSource {
    color: #b3b8d2;
}

.alignMiddle {
    vertical-align: middle;
    display: inline-block;
}

.freeAndOpenSource svg {
    margin-right: 10px;
}

.freeAndOpenSource svg path {
    fill: #b3b8d2 !important;
}

.footer .footer__item svg path {
    fill: #6f7490;
}

.title {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2.4rem;
    margin-bottom: 1.6rem;
}

.top {
    justify-content: space-between;
}

.bottom {
    padding-top: 8rem;

    :global(.col) {
        display: flex;
        align-items: center;
    }
}

.toggle {
    margin-left: auto;
}

.logo {
    display: inline-block;
    width: 90px;
    height: 24px;
    background-image: url('/img/footer-apify-logo-black.svg');
    background-repeat: no-repeat;
}

html[data-theme='dark'] .logo {
    background-image: url('/img/footer-apify-logo-white.svg');
}

@media (max-width: 996px) {
    .footer {
        padding: 3.2rem 1.6rem;
    }

    .container {
        flex-direction: column-reverse;
    }

    .bottom {
        padding-top: 0;
        gap: 1.6rem;
    }

    .toggle {
        margin-left: unset;
    }

    .top {
        padding: 3.2rem 0;
        gap: 3.2rem;
        text-align: center;
    }

    .top::before {
        width: 100%;
        height: 1px;
        margin: 0 -1.6rem;
        padding: 0 1.6rem;
        content: '';
        display: block;
        background-color: var(--color-neutral-separator-subtle);
    }
}

/** dummy comment just to trigger theme publishing 3 */
