.inkeep-widget-vars {
    font-size: 1.6rem !important;
    --ikp-font-size-3xs: 0.72rem !important;
    --ikp-font-size-2xs: 1rem !important;
    --ikp-font-size-xs: 1.2rem !important;
    --ikp-font-size-1sm: 1.3rem !important;
    --ikp-font-size-sm: 1.4rem !important;
    --ikp-font-size-2sm: 1.5rem !important;
    --ikp-font-size-md: 1.6rem !important;
    --ikp-font-size-lg: 1.8rem !important;
    --ikp-font-size-xl: 2rem !important;
    --ikp-font-size-2xl: 2.4rem !important;
    --ikp-font-size-3xl: 3rem !important;
    --ikp-font-size-4xl: 3.6rem !important;
    --ikp-font-size-5xl: 4.8rem !important;
    --ikp-font-size-6xl: 6rem !important;
    --ikp-font-size-7xl: 7.2rem !important;
    --ikp-font-size-8xl: 9.6rem !important;
    --ikp-font-size-9xl: 12.8rem !important;
}
