/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.headingLink {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    width: fit-content;
}

.headingLink :hover {
    text-decoration: none;
    color: var(--color-primary-action-hover) !important;
}

.headingLink::after {
    content: " ";
    display: block;
    background-image: url('/img/external_link_icon.svg');
    background-size: 1.5rem 1.5rem;
    background-repeat: round;
    height: 2rem;
    width: 2rem;
    transition: margin 200ms ease-in-out;
}

.headingLink:hover::after {
    background-image: url('/img/external_link_icon_primary.svg');
}

html[data-theme='dark'] .headingLink::after {
    background-image: url('/img/external_link_icon_dark.svg');
}

html[data-theme='dark'] .headingLink:hover::after {
    background-image: url('/img/external_link_icon_primary_dark.svg');
}

.githubButtonWrapper {
    margin-top: auto;
}

/* Clickable image wrapper */
.imageLink {
    display: block;
    width: 100%;
    height: 100%;
}

.imageLink img {
    transition: filter 200ms ease-in-out;
}

.imageLink:hover img {
    filter: brightness(0.97);
}

html[data-theme='dark'] .imageLink:hover img {
    filter: brightness(1.05);
}

/* Icon wrapper - centers small icons in a card-like background */
.iconWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    aspect-ratio: 384 / 124;
    background: #f8f9fc;
    border-radius: 12px;
    transition: background 200ms ease-in-out;
}

.imageLink:hover .iconWrapper {
    background: #f0f1f4;
}

html[data-theme='dark'] .iconWrapper {
    background: #23262d;
}

html[data-theme='dark'] .imageLink:hover .iconWrapper {
    background: #2a2d35;
}
