get:
  tags:
    - Actor builds
  summary: Get OpenAPI definition
  description: |
    Get the OpenAPI definition for Actor builds. Two similar endpoints are available:

    - [First endpoint](/api/v2/act-openapi-json-get): Requires both `actorId` and `buildId`. Use `default` as the `buildId` to get the OpenAPI schema for the default Actor build.
    - [Second endpoint](/api/v2/actor-build-openapi-json-get): Requires only `buildId`.

    Get the OpenAPI definition for a specific Actor build.
    Authentication is based on the build's unique ID. No authentication token is required.

    :::note

    You can also use the [`/api/v2/act-openapi-json-get`](/api/v2/act-openapi-json-get) endpoint to get the OpenAPI definition for a build.

    :::
  operationId: actorBuild_openapi_json_get
  security:
    - apiKeyActorBuilds: []
    - httpBearerActorBuilds: []
  parameters:
    - name: buildId
      in: path
      description: ID of the build you want to get, found in the build's `Info` tab.
      required: true
      style: simple
      schema:
        type: string
        example: soSkq9ekdmfOslopH
  responses:
    '200':
      description: ''
      headers: {}
      content:
        application/json:
          schema:
            $ref: '../../components/schemas/actor-builds/GetOpenApiResponse.yaml'
  x-js-parent: BuildClient
  x-js-name: getOpenApiDefinition
  x-js-doc-url: https://docs.apify.com/api/client/js/reference/class/BuildClient#getOpenApiDefinition
  x-py-parent: BuildClient
  x-py-name: get_open_api_definition
  x-py-doc-url: https://docs.apify.com/api/client/python/reference/class/BuildClient#get_open_api_definition
