name: 'Deploy'

on:
  push:
    paths:
    - 'nginx.conf'

jobs:
  deploy:
      name: 'Deploy'
      runs-on: ubuntu-latest
      steps:
        - run: gh workflow run deploy.yaml --repo apify/apify-docs-private
          env:
            GITHUB_TOKEN: ${{ secrets.APIFY_SERVICE_ACCOUNT_GITHUB_TOKEN }}
