name: Spell check

on:
    pull_request:
    push:
        branches:
            - master

jobs:
    spell_check:
        name: Spell check
        runs-on: ubuntu-latest
        steps:
            -   name: Checkout repository
                uses: actions/checkout@v6
                with:
                    fetch-depth: 0

            -   name: Get changed files
                id: changed-files
                uses: tj-actions/changed-files@v47
                with:
                    separator: ' '

            -   name: Check spelling with typos
                if: steps.changed-files.outputs.any_changed == 'true'
                uses: crate-ci/typos@v1.43.0
                with:
                    files: ${{ steps.changed-files.outputs.all_changed_files }}
