name: Test

on:
    push:
        branches: [ master, renovate/** ]
    pull_request:
        branches: [ master ]

jobs:
    build:
        name: Docs build
        runs-on: ubuntu-latest
        steps:
            -   name: Checkout Source code
                uses: actions/checkout@v3

            -   name: Use Node.js 16
                uses: actions/setup-node@v3
                with:
                    node-version: 16
                    cache: 'npm'
                    cache-dependency-path: 'package-lock.json'

            -   name: Install Dependencies
                run: npm ci --force

            -   run: npm run build

    lint_content:
        name: Lint markdown content
        runs-on: ubuntu-latest
        steps:
            -   name: Checkout Source code
                uses: actions/checkout@v3

            -   name: Use Node.js 16
                uses: actions/setup-node@v3
                with:
                    node-version: 16
                    cache: 'npm'
                    cache-dependency-path: 'package-lock.json'

            -   name: Install Dependencies
                run: npm ci --force

            -   run: npm run lint:md

    lint_code:
        name: Lint app code
        runs-on: ubuntu-latest
        steps:
            -   name: Checkout Source code
                uses: actions/checkout@v3

            -   name: Use Node.js 16
                uses: actions/setup-node@v3
                with:
                    node-version: 16
                    cache: 'npm'
                    cache-dependency-path: 'package-lock.json'

            -   name: Install Dependencies
                run: npm ci --force

            -   run: npm run lint:code
