name: Vale

on: [ pull_request ]

jobs:
    lint:
        runs-on: ubuntu-latest

        steps:
            -   uses: actions/checkout@v4
                with:
                    fetch-depth: 0

            -   name: Get changed files
                id: changed-files
                uses: tj-actions/changed-files@v45
                with:
                    files: '**/*.{md,mdx}'
                    files_ignore: |
                        sources/api/*.{md,mdx}
                        apify-api/README.md
                        apify-api/openapi/README.md
                        apify-api/openapi/paths/README.md
                        apify-api/openapi/components/README.md
                        sources/legal/*/**.{md,mdx}
                    separator: ','

            -   uses: errata-ai/vale-action@reviewdog
                if: steps.changed-files.outputs.any_changed == 'true'
                with:
                    files: ${{ steps.changed-files.outputs.all_changed_files }}
                    separator: ','
                    fail_on_error: true
                    vale_flags: '--minAlertLevel=error'
                    reporter: github-pr-annotations

